<div class="container cf">
  <div class="spaced-row">
    <div class="layout-column-half-left user-content nerdy-form-container">
      {% if page.metafields.contact.form %}{{page.metafields.contact.form}}{% endif %}
    </div>
    <div class="layout-column-half-right righty-form contact-faq">
      <h2>{{ page.metafields.contact.faq_title }}</h2>
      <div class="faq-subtitle"><p>{{ page.metafields.contact.faq_subtitle }}</p></div>

      {% assign faq_questions = page.metafields.faq.size | divided_by: 2 %}
      <div class="faq">
      {% for i in (1..faq_questions) %}
        {% assign question = 'question' | append: i %}
        {% assign answer = 'answer' | append: i %}

        <div class="faq_item">
          <div class="faq_title">{{ page.metafields.faq[question] }}</div>
          <div class="faq_content">{{ page.metafields.faq[answer] }}</div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>