{%- paginate blog.articles by 6 -%}
	{%- if featured_post != blank -%}
		<div class="lg:max-w-full lg:px-13 xl:px-0 xl:max-w-1200 mx-auto pb-10">
			{% render 'blog-item' article: featured_post, is_featured: true %}
		</div>
	{%- endif -%}
    <div class="sm:container px-6 sm:max-w-xl sm:mx-auto sm:px-0 lg:max-w-full lg:px-13 xl:max-w-1200 xl:px-0 pb-30 blog-list">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-5 gap-y-10 md:gap-y-20" data-blog-list-section>
            {%- for article in blog.articles -%}
                {% unless article.id == featured_post.id  %}
                    {% render 'blog-item' article: article %}
                {% endunless %}
            {%- endfor -%}
        </div>

        {%- if paginate.pages > 1 -%}
            {%- capture current_url -%}
                {{ blog.url }}{% if current_tags %}/tagged/{{ current_tags.first | handleize }}{% endif %}
            {%- endcapture -%}
            <div class="text-center mt-12 lg:mt-20" data-load-more-container>
                <button
                    class="button-outline w-350 mx-auto"
                    data-url="{{ current_url }}"
                    data-page="{{ paginate.current_page }}"
                    data-total-page="{{ paginate.pages }}"
                    data-load-more-posts
                >
                    View More
                </button>
            </div>
        {%- endif -%}
    </div>
{%- endpaginate -%}

{% comment %} OLD CODE {%- paginate blog.articles by 6 -%}
    <div class="max-w-81.75 sm:max-w-xl mx-auto sm:px-0 lg:max-w-full  xl:max-w-1200 xl:px-0 pb-30 blog-list">
        <div class="flex flex-row flex-wrap flex-col sm:flex-row lg:-mx-1 xl:-mx-2.5" data-blog-list-section>
            {% capture featured_blogs %}
                {%- for article in blog.articles -%}
                    {% if article.tags contains "Featured" %}
                        {% render 'blog-item' article: article %}
                    {% endif %}
                {%- endfor -%}
            {% endcapture %}
            {{ featured_blogs }}
            {%- for article in blog.articles -%}
                {% unless article.tags contains "Featured"  %}
                    {% render 'blog-item' article: article %}
                {% endunless %}
            {%- endfor -%}
        </div>

        {%- if paginate.pages > 1 -%}
            {%- capture current_url -%}
                {{ blog.url }}{% if current_tags %}/tagged/{{ current_tags.first | handleize }}{% endif %}
            {%- endcapture -%}
            <div class="text-center mt-12 lg:mt-20" data-load-more-container>
                <button
                    class="button-outline w-350 mx-auto"
                    data-url="{{ current_url }}"
                    data-page="{{ paginate.current_page }}"
                    data-total-page="{{ paginate.pages }}"
                    data-load-more-posts
                >
                    View More
                </button>
            </div>
        {%- endif -%}
    </div>
{%- endpaginate -%}

 {% endcomment %}
