{% liquid
  assign custom_product = false
  assign custom_properties = '_group_order|_group_segment|_preorder_message'
  assign preorder_message = false
  if item.product.tags contains 'customPreorder' or item.product.tags contains 'CustomPreorder'
    assign custom_product = true
    assign preorder_message = item.properties._preorder_message | default: false
    assign custom_properties = ''
  endif

  assign promo_text = ''
  assign promo_messages = settings.promo_messages | newline_to_br | split: '<br />'
  for tag in item.product.tags
    if tag contains 'promo:'
      for message in promo_messages
        if message contains tag
          assign promo_text = message | remove: tag | remove: '||'
        endif
      endfor
    endif

    unless promo_text == blank
      break
    endunless
  endfor
  if promo_text == blank
    if item.product.metafields["global"]["prd_promotion_text"] != blank
      assign promo_text = item.product.metafields["global"]["prd_promotion_text"]
    elsif item.variant.metafields["global"]["promo_text"] != blank
      assign promo_text = item.variant.metafields["global"]["promo_text"]
    endif
  endif
%}

<!-- Cart Line Item -->
<div
  class="lineItemElement stocktype-{{ item.variant.metafields.stocktype.stocktype }} relative p-6 lg:px-0 lg:py-8 opacity-0 transition-opacity"
  data-line-item
  data-id="{{ item.id }}"
  data-variant="{{ item.variant | json | escape }}"
  {% if item.gift_card %}data-gift-card{% endif %}
>
  <!-- Cart Line Item - Inner -->
  <div class="flex justify-start relative">
    <!-- Product Image -->
    <div class="lineImage flex-shrink-0 flex flex-col justify-start align-center w-1/4 pr-1 md:pr-2">

      {% capture img %}
        <img  class=" rounded-sm w-full lg:w-40 lg:mx-auto" src="{{ item | img_url: '163x' }}" alt="{{ item.title | escape }}">
      {% endcapture %}

      {% if custom_product %}
        <div tabindex="-1" class="__nofocus">{{ img }}</div>
      {% else %}
      <a href="{{ item.url }}" tabindex="-1" class="__nofocus">{{ img }}</a>
      {% endif %}

      <!-- Remove Link: Mobile -->
      <a role="button" aria-label="Remove item from cart" class="lineDetailsRemove md:hidden flex items-center mt-5 text-pine" data-remove="{{ item.key }}"
      onclick="window.eHS.cart.removeItemByKey('{{ item.key }}')"
      href="/cart/change?line={{ line }}&amp;quantity=0"
      >
        <span class="sr-only">Remove</span>
        {% render 'svg-close' width: '16px' height: '16px' %}
        <span class="font-sora font-semibold uppercase text-special-xs underline">Remove</span>
      </a>
    </div>

    <div class="lineDetailsWrapper w-3/4 pl-3 md:pl-4 flex flex-wrap items-start ">
      <!-- Product Details -->
      <div class="lineActions w-full md:w-1/2 mb-2 md:mb-0 md:pr-6">


        {% capture title %}
          <span class="h6 font-semibold tracking-normal">{{- item.product.title -}}</span>
        {% endcapture %}

        {% if custom_product %}
          <div class="block text-black mb-2">{{ title }}</div>
        {% else %}
          <a href="{{ item.url }}" class="block text-black mb-1.5">{{ title }}</a>
        {% endif %}

        <!-- Item Price -->
        {%- unless item.product.tags contains 'gift-for-good' -%}
          <div data-item-price class="font-sora text-p-s lg:text-p text-stone font-semibold mb-1 lg:mb-2 flex flex-wrap flex-row items-baseline justify-start">
            {%- if item.variant.compare_at_price > item.variant.price -%}
            {%- comment -%}

            Hiding inline pricing because it's adding complexity to an otherwise already complex pricing scheme.
            Can be re-integrated later by using the updated pricing logic applied on PDP.

            <span class="text-pine mr-1.5">{{ item.price | money }}{{- CAD_pricing -}}</span>
            <span class="text-light-stone font-normal text-p-xs lg:text-p-s"><s>{{ item.variant.compare_at_price | money }}{{- CAD_pricing -}}</s></span>
            {%- endcomment -%}
            {%- comment -%}
              note: deprecated, but perfect for this use case
              https://shopify.dev/api/liquid/objects/deprecated-objects#line_item-total_discount
            {%- endcomment -%}
            {%- elsif item.total_discount > 0 -%}
              {%- comment -%}

              TODO: Update this to reflect complex line-level discounts
                - check total discount condition
                - math --> check total line-level savings (ie. $40)

              <p class="text-stone w-full m-0">Total line price:</p>
              <span class="text-pine mr-1.5">{{ item.price | money }}{{- CAD_pricing -}}</span>
              <span class="text-light-stone font-normal text-p-xs lg:text-p-s"><s>{{ item.original_line_price | money }}{{- CAD_pricing -}}</s></span>
              {%- endcomment -%}
            {%- elsif item.variant.compare_at_price > item.variant.price -%}
              <span class="text-pine mr-1.5">{{ item.price | money }}{{- CAD_pricing -}}</span>
              <span class="text-light-stone font-normal text-p-xs lg:text-p-s"><s>{{ item.variant.compare_at_price | money }}{{- CAD_pricing -}}</s></span>
            {%- comment -%}
              note: deprecated, but perfect for this use case
              https://shopify.dev/api/liquid/objects/deprecated-objects#line_item-total_discount
            {%- endcomment -%}

            {%- else -%}
            {%- comment -%}
            <span>{{ item.price | money }}{{- CAD_pricing -}}</span>
            {%- endcomment -%}
            {%- endif -%}

            {% unless custom_product %}
              <p class="w-auto text-p-xs font-sora text-dark-stone m-0 mb-2 bg-sand bg-opacity-60 px-2 py-1 hidden" data-line-message>{{ item.message }}</p>
            {% endunless %}

            {%- comment -%} Hide Promo Text from Pros {%- endcomment -%}
            {%- unless is_pro == true -%}
              <!-- Promo Message -->
              {%- if promo_text != blank -%}
                {%- comment -%} safeguard measure in case metafield import doesn't work properly {%- endcomment -%}
                {%- unless promo_text contains "DELETE" -%}
                  <span class="block w-full font-sora text-p-xs text-pine">{{- promo_text -}}</span>
                {%- endunless -%}
              {%- endif -%}
            {%- endunless -%}

          </div>
        {%- endunless -%}

        {% unless preorder_message %}
          {% comment %} custom product preorder message replaces this. {% endcomment %}
          {%- if item.variant.metafields.stocktype.stocktype and item.variant.metafields.stocktype.stocktype == 'U' or item.variant.metafields.stocktype.stocktype == 'U2' or item.variant.metafields.stocktype.stocktype == 'O' -%}
            {% comment %} - Any product with stock type U or O and a compare _at price, the final sale badge would appear automatically {% endcomment %}
            {%- if item.variant.compare_at_price > item.variant.price -%}
            <div class="font-sora font-semibold text-special-xs text-red max-w-full mb-1">
              <span class="inline-block mb-1 uppercase">FINAL SALE - no returns or exchanges</span>
            </div>
            {%- endif -%}
          {%- endif -%}
        {%- endunless -%}

        {%- comment -%} Variant Options {%- endcomment -%}
        {%- unless item.variant.title contains 'Default' or item.variant.options.size == 1 -%}
          <div class="font-sora font-semibold text-special-xs text-stone uppercase max-w-40 md:max-w-full mb-1">
            {% for option in item.product.options %}
              <span class="inline-block mb-1">{{ option }}: {{ item.variant.options[forloop.index0] }}</span> <br />
            {% endfor %}
          </div>
        {%- endunless -%}

        {%- comment -%} Line Item Properties {%- endcomment -%}
        {%- assign property_size = item.properties | size -%}
        {%- if property_size > 0 -%}
          <div class="font-sora font-semibold text-special-xs text-stone uppercase max-w-40 md:max-w-full mb-1">
            {%- for p in item.properties -%}
              {%- assign first_character = p.first | slice: 0 -%}
              {% unless p.last == blank or first_character == "_" or custom_properties contains p.first %}
                <span class="inline-block mb-1">{{ p.first | replace: '_', ' ' }}: {{ p.last }}</span> <br />
              {% endunless %}
            {%- endfor -%}
          </div>
        {%- endif -%}

        {% if preorder_message %}
        {% comment %} Custom products preorder message: {% endcomment %}
        <div class="font-sora font-semibold text-special-xs text-red max-w-40 md:max-w-full mb-1">
          <div class="mb-1">PRE-ORDER ITEM</div>
          <div class="font-normal">{{ preorder_message }}</div>
        </div>
        {% endif %}

        <!-- Remove Link: Mobile -->
        <a role="button" aria-label="Remove {{ item.title }} from cart" class="lineDetailsRemove hidden md:flex items-center mt-5 text-pine"
        data-remove="{{ item.key }}"
        onclick="window.eHS.cart.removeItemByKey('{{ item.key }}')"
        href="/cart/change?line={{ line }}&amp;quantity=0"
        >
          <span class="sr-only">Remove</span>
          {% render 'svg-close' width: '16px' height: '16px' %}
          <span class="font-sora font-semibold uppercase text-special-xs hover:underline">Remove</span>
        </a>
      </div>

      <div class="linePrice w-full md:w-1/2 flex items-center justify-between md:pl-6 md:items-start">
        {%- if custom_product -%}
          {% render 'custom-quantity-selector', qty: item.quantity, line: line, is_visible: true %}
        {%- else -%}
          {%- unless item.product.tags contains 'gift-for-good' -%}
          <!-- Quantity Selector -->
          <div class="w-15.5 md:w-17.5">
            {% render 'cart-quantity-selector' item: item, line: line %}
          </div>
          {%- endunless -%}
        {%- endif -%}

        <!-- Line Price -->
        <div data-line-block class="flex-shrink-0 flex flex-col justify-start text-black lg:min-w-20 ml-auto font-sora font-semibold text-p-xl tracking-normal relative">
          {% if item.variant.compare_at_price > item.variant.price %}
            <span class="text-pine" data-line-price>{{ item.final_line_price | money }}{{- CAD_pricing -}}</span>
            <span class="text-light-stone text-p-s lg:text-p-lg font-normal text-right "><s data-compare-at-line-price data-original-line-price>{{ item.variant.compare_at_price | times: item.quantity | money }}{{- CAD_pricing -}}</s></span>
          {%- comment -%}
            note: deprecated, but perfect for this use case
            https://shopify.dev/api/liquid/objects/deprecated-objects#line_item-total_discount
          {%- endcomment -%}
          {%- elsif item.total_discount > 0 -%}
            {%- comment -%} Cart Script discount{%- endcomment -%}
            <span class="text-pine" data-line-price>{{ item.final_line_price | money }}{{- CAD_pricing -}}</span>
            <span class="text-light-stone text-p-s lg:text-p-lg font-normal text-right "><s data-original-line-price>{{ item.original_line_price | money }}{{- CAD_pricing -}}</s></span>
          {%- else -%}
            <span class="" data-line-price>{{ item.final_line_price | money }}{{- CAD_pricing -}}</span>
            {%- comment -%} Needed as items can adjust asynchronously {%- endcomment -%}
            <span class="hidden text-light-stone text-p-s lg:text-p-lg font-normal text-right "><s data-original-line-price>{{ item.original_line_price | money }}{{- CAD_pricing -}}</s></span>
          {%- endif -%}
        </div>
      </div>
    </div>

  </div>
</div>