{% liquid
  assign pro_homepage_enabled = settings.enable_pro_homepage
  assign ev_homepage_enabled = settings.enable_ev_homepage
  assign op_homepage_enabled = settings.enable_op_homepage

  assign is_pro_customer = false
  assign is_ev_customer = false
  assign is_op_customer = false
  if customer.tags contains 'Pro Purchase' or customer.tags contains 'PRO PURCHASE'
    assign is_pro_customer = true
  elsif customer.tags contains 'Expert Voice'
    assign is_ev_customer = true
  elsif customer.tags contains 'Outdoor Pro'
    assign is_op_customer = true
  endif

  assign use_pro_homepage = false
  assign use_ev_homepage = false
  assign use_op_homepage = false

  if pro_homepage_enabled and is_pro_customer
    assign use_pro_homepage = true
  elsif ev_homepage_enabled and is_ev_customer
    assign use_ev_homepage = true
  elsif op_homepage_enabled and is_op_customer
    assign use_op_homepage = true
  endif
%}

{%- unless use_pro_homepage or use_ev_homepage or use_op_homepage -%}
  {%- if section.blocks.size > 0 -%}
    <div class="container max-w-full md:max-w-680 lg:max-w-920 xl:max-w-1200 mb-0 md:mb-40 px-0 grid grid-cols-1 md:grid-cols-2 md:gap-5">
      {%- for block in section.blocks -%}
        {%- if block.settings.title != blank and block.settings.image != blank -%}
          {%- assign count = 0 -%}
          {%- if block.settings.url_1 != blank and block.settings.cta_title_1 != blank and block.settings.url_2 != blank and block.settings.cta_title_2 != blank -%}
            {%- assign count = 2 -%}
          {%- elsif block.settings.url_1 != blank and block.settings.cta_title_1 != blank or block.settings.url_2 != blank and block.settings.cta_title_2 != blank -%}
            {%- assign count = 1 -%}
          {%- endif -%}

          <div class="relative md:pb-17.5 mb-20 md:mb-0">
            {%- if count == 1 -%}
              <a class="block relative w-full h-0 pt-[100%] md:pt-122percent" href="{{ block.settings.url_1 | default: block.settings.url_2 }}">
            {%- else -%}
              <div class="block relative w-full h-0 pt-[100%] md:pt-122percent">
            {%- endif -%}
              <img class="lazy absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-full object-cover" data-src="{{ block.settings.image | img_url: '590x', scale: 2 }}" alt="{{- block.settings.image.alt -}}">
            {%- if count == 1 -%}
              </a>
            {%- else -%}
              </div>
            {%- endif -%}

            <div class="min-w-full lg:min-w-430 relative md:absolute bottom-auto md:bottom-0 left-auto md:left-1/2 md:transform md:-translate-x-1/2 px-6 md:px-8 py-8 md:pl-12.5 bg-{{section.settings.background}} border border-t-8 md:border-t-0 border-r-0 border-b-0 border-l-0 md:border-l-8 {% if section.settings.background == 'light-sand' %} border-sand {% else %} border-pine {% endif %}">
              {%- if block.settings.subtitle != blank -%}
                <div class="uppercase text-special font-normal font-sora mb-2 md:mb-4 {% if section.settings.background == 'light-sand' %} text-black {% else %} text-white {% endif %}">{{- block.settings.subtitle -}}</div>
              {%- endif -%}
              <h3 class="uppercase mb-4 md:mb-6 text-h5 lg:text-h3 {% if section.settings.background == 'light-sand' %} text-black {% else %} text-white {% endif %}">{{- block.settings.title -}}</h3>
              {%- if block.settings.description != blank -%}
                <div class="mb-6 hidden lg:block {% if section.settings.background == 'light-sand' %} text-black {% else %} text-white {% endif %}">{{- block.settings.description -}}</div>
              {%- endif -%}

              {%- if block.settings.url_1 != blank and block.settings.cta_title_1 != blank -%}
                <a href="{{block.settings.url_1}}" class="mr-4.5 lg:mr-5.5 inline-block uppercase text-special-xs lg:text-special font-sora font-normal border border-t-0 border-r-0 border-b-2 border-l-0 {% if section.settings.background == 'light-sand' %} text-black hover:text-pine border-black hover:border-pine {% else %} text-white lg:hover:text-bright-yellow border-white lg:hover:border-bright-yellow {% endif %}">{{- block.settings.cta_title_1 -}}</a>
              {%- endif -%}
              {%- if block.settings.url_2 != blank and block.settings.cta_title_2 != blank -%}
                <a href="{{block.settings.url_2}}" class="inline-block uppercase text-special-xs lg:text-special font-sora font-normal border border-t-0 border-r-0 border-b-2 border-l-0 {% if section.settings.background == 'light-sand' %} text-black hover:text-pine border-black hover:border-pine {% else %} text-white lg:hover:text-bright-yellow border-white lg:hover:border-bright-yellow {% endif %}">{{- block.settings.cta_title_2 -}}</a>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
{%- endunless -%}

{% schema %}
{
  "name": "Half Width CTA",
  "max_blocks": 2,
  "settings": [
    {
      "type": "select",
      "id": "background",
      "options": [
        { "value": "light-sand", "label": "Sand"},
        { "value": "stone", "label": "Dark"}
      ],
      "label": "Text Background",
      "default": "light-sand"
    }
  ],
  "blocks": [
    {
      "name": "Item",
      "type": "item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image",
          "info": "Recommended size: 1180x1440"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Type something"
        },
        {
          "type": "text",
          "id": "title",
          "label": "title",
          "default": "Ride 365"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna."
        },
        {
          "type": "text",
          "id": "cta_title_1",
          "label": "CTA title 1",
          "default": "Shop now"
        },
        {
          "id": "url_1",
          "type": "url",
          "label": "Link 1"
        },
        {
          "type": "text",
          "id": "cta_title_2",
          "label": "CTA title 2",
          "default": "Learn more"
        },
        {
          "id": "url_2",
          "type": "url",
          "label": "Link 2"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Half Width CTA",
      "category": "Homepage"
    }
  ]
}

{% endschema %}