<div id="RecoverPasswordForm" class="w-full pt-8 pb-10 lg:p-0 lg:max-w-387 lg:mx-auto hidden text-center">
  <h2 class="text-h3-m lg:text-h3 uppercase mb-2 lg:mb-4">{{ 'customer.recover_password.title' | t }}</h2>
  <div class="lg:mb-11 mb-8">
    <p class="text-p-s lg:text-p">{{ 'customer.recover_password.subtext' | t }}</p>
  </div>

  {% form 'recover_customer_password', class: 'account-form text-center mb-15' %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}  
  <span class="hidden recover-password-success text-p-s font-lato font-normal text-success-one border-l-3 border-success-one w-full px-5 py-0 mt-4 mb-7"></span>
  {% endif %}

  <div class="relative lg:mb-8 mb-9 input-wrap w-full">
    <input type="email" name="email"
      id="RecoverEmail" placeholder=" " spellcheck="false" autocomplete="off" autocapitalize="off"
      onblur="eHS.customerLogin.validateFieldsOnBlur(event)" data-required
    >
    <label for="RecoverEmail">
      {{ 'customer.recover_password.email' | t }}
    </label>
    
    <div class="text-error-one flex items-center mt-2 hidden" data-error-container>
      <span class="mr-2.5">
        {% include 'svg-alert' %}
      </span>
      <span class="font-normal text-p-xs text-grey-one" data-error-text></span>
    </div>
  </div>

  <button type="button" class="form-submit button button-primary mb-10 w-full max-w-full py-4.5 cursor-pointer">{{ 'customer.recover_password.submit' | t }}</button>

  <a href="javascript:void(0)" class="inline-block text-special mb-8 font-lato font-semibold uppercase text-grey-one hover:text-blue-one border-b-2 border-grey-one hover:border-blue-one"
    id="HideRecoverPasswordLink" onclick="eHS.customerLogin.toggleRecoverPasswordForm('remove')">
    {{ 'customer.recover_password.cancel' | t }}
  </a>
  {% endform %}
</div>