{% liquid
  assign is_pro_member = false
  if customer
    assign has_discount_tag = false
    assign has_limit_tag = false
    for tag in customer.tags
      if tag contains "discount-"
        assign has_discount_tag = true
      endif
      if tag contains "limit-"
        assign has_limit_tag = true
      endif
    endfor
    if has_discount_tag and has_limit_tag
      assign is_pro_member = true
    endif
  endif

  if shop.permanent_domain == 'usbns.myshopify.com'
    assign storefront = "US"
  endif

  assign main_menu = section.settings.main_menu
%}

<style>
  .header_desktop-logo {
    width: {{ section.settings.logo_width_desktop }}px;
  }

  .header_mobile-logo {
    width: {{ section.settings.logo_width_mobile }}px;
  }
</style>

<!-- Main Header -->
<header class="relative z-[101] bg-white border-b border-light-grey" id="header">
  <!-- Desktop Header -->
  <div class="mobile:hidden relative lg:flex items-center justify-between h-20 md:px-14 lg:px-22.5 border-b border-light-grey
shadow-nav" data-site-header-inner>
    <a class="flex items-center justify-start h-auto z-2" href="/">
      <span class="sr-only">{{ shop.name }}</span>
      <span class="w-full header_desktop-logo">{% render 'svg-logo-horizontal-desktop' %}</span>
    </a>

    {%- comment -%} Desktop Nav = always centered until XL screens {%- endcomment -%}
    <!-- <div class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2"> -->
    {%- include 'nav-desktop' is_pro: is_pro_member
      , main_menu: main_menu -%}
    <!-- </div> -->

    <!-- Nav Search Form -->
    <div class="hidden xl:block group relative xl:max-w-btn-sm 2xl:max-w-75 w-full ml-auto cursor-pointer z-2" data-search-wrapper>
      {%- render 'search-form' -%}
    </div>

    <!-- Nav Icons -->
    <div class="flex items-center z-2">
      <!-- Search Icon -->
      <div class="hidden lg:block xl:hidden stroke-grey-three cursor-pointer hover:stroke-grey-three transition duration-300 ease-in-out" id="mobile_search" onclick="eHS.navMobile.toggleSearchForm(event)" tabindex="0">
        {% render 'svg-search' %}
      </div>

      <!-- Cart Icon -->
      <a data-cart-open class="group relative ml-8 text-grey-three fill-grey-three transition duration-300 ease-in-out" href="/cart">
        <span class="sr-only">Cart basket
          {%- if cart.item_count > 0 -%}
            - {{ cart.item_count }} items in cart{%- endif -%}
        </span>
        {% render 'svg-cart' %}
        <span class="cart-count hidden absolute -top-2.5 -right-2.5 items-center justify-center rounded-full w-5 h-5 bg-orange-one group-hover:bg-blue-one group-hover:text-white border-2 border-white font-semibold font-lato duration-100" style="font-size: 11px;"></span>
      </a>

    </div>
  </div>

  <!-- Mobile Header -->
  <div class="lg:hidden flex items-center justify-between h-15 md:h-21.5 mobile:px-6 md:px-14 lg:px-30 shadow-nav border-b
border-light-grey">
    <!-- Menu & Search -->
    <div class="flex items-center">
      <div class="-ml-2 mr-2.5 sm:mr-10 stroke-black hover:stroke-orange-one transition duration-300 ease-in-out" onclick="eHS.navMobile.toggleNav(event, 'main')" tabindex="0">
        {% render 'svg-menu' %}
      </div>
      <div class="mr-2.5 sm:mr-10 stroke-black hover:stroke-orange-one transition duration-300 ease-in-out" id="mobile_search" onclick="eHS.navMobile.toggleSearchForm(event)" tabindex="0">
        {% render 'svg-search' %}
      </div>
    </div>
    <!-- Site Logo -->
    <a class="text-center px-4 h-full flex items-center justify-center w-full" href="/">
      <span class="sr-only">{{ shop.name }}</span>
      <span class="header_mobile-logo">{% render 'svg-logo-horizontal'
, prefix: 'mobile-logo-' class: 'min-w-140' %}</span>
    </a>

    <!-- Account & Cart -->
    <div class="flex items-center">
      <!-- Account Link -->
      <a class="ml-2.5 sm:ml-10 fill-orange-one transition duration-300 ease-in-out" href="/account">
        <span class="sr-only">Account</span>
        <span class="text-dark-stone">
          {% render 'svg-account' width: '31px' height: '31px' %}
        </span>
      </a>
      <!-- Cart Link -->
      <a data-cart-open class="relative ml-2.5 sm:ml-10 fill-orange-one transition duration-300 ease-in-out" href="/cart">
        <span class="sr-only">Cart</span>
        {% render 'svg-cart' %}
        <span class="cart-count hidden absolute -top-2 -right-2 items-center justify-center rounded-full w-5 h-5 bg-orange-one border-2 border-white font-semibold font-lato text-p-xs text-black"></span>
      </a>
    </div>
  </div>
  {% include 'nav-mobile' is_pro: is_pro_member
    , main_menu: main_menu %}
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "header",
        "content": "Navigation Settings"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "red_clearance",
        "label": "Make Clearance links red?",
        "default": true
      },
      {
      "type": "range",
      "id": "logo_width_desktop",
      "min": 50,
      "max": 300,
      "step": 5,
      "default": 200,
      "unit": "px",
      "label": "Destkop Logo Width"
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 30,
      "max": 150,
      "step": 5,
      "default": 150,
      "unit": "px",
      "label": "Mobile Logo Width"
    }
    ],
    "blocks": [
      {
        "type": "featured_cta_block",
        "name": "CTA Media Block",
        "settings": [
          {
            "type": "header",
            "content": "Media Content Block",
            "info": "This block will appear in the desktop navigation dropdown, under the top-level link that is assigned in the 'Menu Handle' field."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Menu Parent Link Handle",
            "info": "Please enter the top-level menu link handle to assign this CTA block (ie. MEN = men, WOMEN = women, etc.)"
          },
          {
            "type": "image_picker",
            "id": "cta_image",
            "label": "CTA Image",
            "info": "Recommended image dimensions: 282px x 230px. Note: The media block will not render until an image is selected."
          },
          {
            "type": "radio",
            "id": "cta_type",
            "label": "CTA Display Type",
            "options": [
              {
                "value": "last_submenu",
                "label": "Last Submenu (ie. Beginner Guides)"
              },
              {
                "value": "custom_link",
                "label": "Single Link (ie. Shop All Kids)"
              }
            ],
            "default": "last_submenu",
            "info": "This selection will accompany the fields below. If you select 'Menu', you can leave the 'Link' content fields blank."
          },
          {
            "type": "header",
            "content": "Link Display"
          },
          
          {
            "type": "text",
            "id": "cta_link_text",
            "label": "CTA Link Text"
          },
          {
            "id": "cta_link",
            "type": "url",
            "label": "CTA Link URL"
          },
          {
            "id": "svg",
            "type": "html",
            "label": "Menu Background Text",
            "info": "SVG is required"
          }
        ]
      },
      {
        "type": "custom_menu_block",
        "name": "Custom Menu Block",
        "settings": [
          {
            "type": "header",
            "content": "Custom Menu Media Block",
            "info": "This block will appear in the desktop navigation dropdown, under the top-level link that is assigned in the 'Menu Handle' field."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Menu Parent Link Handle",
            "info": "Please enter the top-level menu link handle to assign this CTA block (ie. ABOUT = about, INSPIRATION = inspiration, etc.)"
          },
          {
            "type": "image_picker",
            "id": "cta_image",
            "label": "CTA Image",
            "info": "Recommended image dimensions: 290px x 230px"
          },
          {
            "type": "text",
            "id": "cta_link_title",
            "label": "CTA Header",
            "info": "This will show as the header of your media block on Desktop, and the title of your link on Mobile. (ie. Our Social Purpose)"
          },
          {
            "type": "textarea",
            "id": "cta_link_content",
            "label": "CTA Content"
          },
          {
            "type": "text",
            "id": "cta_link_text",
            "label": "CTA Link Text",
            "info": "This will show as a short blurb/paragraph on desktop screens only."
          },
          {
            "id": "cta_link",
            "type": "url",
            "label": "CTA Link URL"
          }
        ]
      },
      {
        "type": "text_menu_block",
        "name": "Text Menu Block",
        "settings": [
          {
            "type": "header",
            "content": "Custom Menu Media Block",
            "info": "This block will appear in the desktop navigation dropdown, under the top-level link that is assigned in the 'Menu Handle' field."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Menu Parent Link Handle",
            "info": "Please enter the top-level menu link handle to assign this CTA block (ie. ABOUT = about, INSPIRATION = inspiration, etc.)"
          },
          {
            "type": "text",
            "id": "child_handle",
            "label": "Menu Child Link Handle",
            "info": "Please enter menu link handle to put on Menu Block (ie. ABOUT = about, INSPIRATION = inspiration, etc.)"
          },
          {
            "type": "checkbox",
            "id": "stack_text_menu",
            "label": "Stack Text Menu",
            "default": false
          }
        ]
      },
      {
        "type": "featured_blog_post_block",
        "name": "Blog Post Block",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Menu Parent Link Handle",
            "info": "Please enter the top-level menu link handle to assign this CTA block (ie. ABOUT = about, INSPIRATION = inspiration, etc.)"
          },
          {
            "type": "article",
            "id": "article_handle",
            "label": "Article"
          }
        ]
      }
    ]
  }
{% endschema %}
