{%- liquid
  if collection
    assign collection_parent = 'All'
    assign collection_parent_url = '/collections/all'

    if collection.metafields["global"]["custom_parent_collection"] != blank
      assign collection_parent = collection.metafields["global"]["custom_parent_collection"]
      assign collection_parent_url = collection.metafields["global"]["custom_parent_url"] | default: '/collections/all-products'
    elsif collection.handle contains 'womens'
      assign collection_parent = "Women's"
      assign collection_parent_url = '/collections/womens'
    elsif collection.handle contains 'mens'
      assign collection_parent = "Men's"
      assign collection_parent_url = '/collections/mens'
    elsif collection.handle contains 'kids'
      assign collection_parent = "Kid's"
      assign collection_parent_url = '/collections/kids'
    endif
  endif
-%}
{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  {%- if template == 'collection' -%}
  <nav aria-label="breadcrumbs" class="breadcrumb font-sora text-p-xs text-stone my-3 cursor-pointer text-left" role="navigation">
  {%- else -%}
  <nav aria-label="breadcrumbs" class="breadcrumb{% if template == 'product' %} truncate{% endif %} font-sora text-p-xs text-stone my-3 cursor-pointer text-left" role="navigation">
  {%- endif -%}
    <a class="text-stone border-b border-stone" href="/" aria-label="home" title="Home">Home</a>
    {% if template contains 'page' %}
      <span aria-hidden="true" class="text-silver">&nbsp;/&nbsp;</span>
      <span aria-label="{{ page.title }}">{{ page.title }}</span>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span aria-hidden="true" class="text-silver">&nbsp;/&nbsp;</span>
        <a class="text-stone border-b border-stone" aria-label="{{ collection.title }}" href="{{ collection.url }}">{{ collection.title }}</a>
        <span aria-hidden="true" class="text-silver">&nbsp;/&nbsp;</span>
        <span class="" aria-label="{{ product.title }}">{{ product.title }}</span>
      {% else %}
        <span aria-hidden="true" class="text-silver">&nbsp;/&nbsp;</span>
        <a class="text-stone border-b border-stone" aria-label="All Collections" href="/collections/all">All</a>
        <span aria-hidden="true" class="text-silver">&nbsp;/&nbsp;</span>
        <span class="" aria-label="{{ product.title }}">{{ product.title }}</span>
      {% endif %}
    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      <a class="text-stone border-b border-stone" href="{{ collection_parent_url }}" aria-label="{{ collection_parent }}" title="{{ collection_parent }}">{{ collection_parent }}</a>
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}
        {% endcapture %}
        <a class="text-bright-yellow" href="{{ url }}" aria-label="{{ collection.title }}">{{ collection.title }}</a>
        <span aria-hidden="true">&nbsp;/&nbsp;</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span>{{ collection.title }}</span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">/</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span aria-label="{{ blog.title }}">{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      <span aria-label="{{ article.title }}">{{ article.title }}</span>
    {% else %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      <span aria-label="{{ page_title }}">{{ page_title }}</span>
    {% endif %}
  </nav>
{% endunless %}