{% if storefront == "CA" %}

  {% if settings.ss_enable %}
    <form class="px-4.5 xl:px-0 relative w-full h-full xl:h-auto shadow-search-auto xl:shadow-none z-1 xl:z-auto" action="/collections/{{ settings.ss_collection_handle }}" method="get" role="search" for="search">
      <input type="text" name="q" placeholder="Search {{ shop.name }}" value="{{ search.terms | escape }}" class="searchspring-ac w-full pl-7.5 xl:pl-4 py-2 pr-12.5 bg-white font-sora text-p xl:text-p-s outline-none border-none xl:border xl:border-solid border-light-stone focus:border-dark-stone group-hover:bg-search-input-hover transition duration-300 ease-in-out h-full xl:h-auto" onkeyup="eHS.headerNav.searchOpen(event)" onclick="eHS.headerNav.searchOpen(event)" onfocus="eHS.headerNav.searchOpen(event)" autocomplete="off" data-search-input />
      <button class="nav-search-btn flex items-center absolute outline-none active:outline-pine focus:outline-pine inset-y-0 right-0 pr-3 stroke-black group">
        <span class="sr-only">Search</span>
        {% render 'svg-search' %}
      </button>
      <span tabindex="0" class="nav-search-close absolute right-12 top-1/2 transform -translate-y-1/2 cursor-pointer hidden" onclick="eHS.headerNav.searchClose(event)">
        {%- render 'svg-close', width: "18px", height: "18px" -%}
      </span>

      <span class="absolute top-1/2 left-4.5 transform -translate-y-1/2 hidden xl:hidden text-black" data-search-arrow>
        {% render 'svg-chevron-left', width: "14px", height: "14px" %}
      </span>
    </form>
  {% else %}
    <form class="px-4.5 xl:px-0 relative w-full h-full xl:h-auto shadow-search-auto xl:shadow-none z-1 xl:z-auto" action="{{ routes.search_url }}" method="get" role="search" for="search">
      <input type="text" name="q" placeholder="Search {{ shop.name }}" value="{{ search.terms | escape }}" class="w-full pl-7.5 xl:pl-4 py-2 pr-12.5 bg-white font-sora text-p xl:text-p-s outline-none border-none xl:border xl:border-solid border-light-stone focus:border-dark-stone group-hover:bg-search-input-hover transition duration-300 ease-in-out h-full xl:h-auto" onkeyup="eHS.headerNav.searchOpen(event)" tabindex="0" onclick="eHS.headerNav.searchOpen(event)" onfocus="eHS.headerNav.searchOpen(event)" autocomplete="off" data-search-input />
      <button class="nav-search-btn flex items-center absolute outline-none active:outline-pine focus:outline-pine inset-y-0 right-0 pr-3 stroke-black group">
        <span class="sr-only">Search</span>
        {% render 'svg-search' %}
      </button>
      <span tabindex="0" class="nav-search-close absolute right-12 top-1/2 transform -translate-y-1/2 cursor-pointer hidden" onclick="eHS.headerNav.searchClose(event)">
        {%- render 'svg-close', width: "18px", height: "18px" -%}
      </span>

      <span class="absolute top-1/2 left-4.5 transform -translate-y-1/2 hidden xl:hidden text-black" data-search-arrow>
        {% render 'svg-chevron-left', width: "14px", height: "14px" %}
      </span>
    </form>
  {% endif %}

  {% if settings.ss_enable == false %}
    <div class="search-auto w-full sm:w-637 bg-white max-h-autocomplete sm:max-h-450 xl:shadow-search-auto absolute top-15 sm:top-20 xl:top-14 right-1/2 transform translate-x-1/2 xl:translate-x-33.75 flex-col-reverse sm:flex-row overflow-auto sm:overflow-visible hidden" data-search-auto>
      <div class="block p-5 sm:p-10 pt-6 w-full sm:w-1/2 sm:w-results">
        <div class="font-sora text-special-s font-semibold mb-2">SUGGESTIONS</div>
        <ul class="search-auto__results list-none p-0">
          <li class="mb-5">
            {%- assign product = collections.all.products.first -%}
            <a href="{{product.url}}" class="flow-root">
              {%- if product.featured_image != blank -%}
                <div class="inline-flex items-center justify-center w-26.5 h-26.5 mr-6.25 bg-faint-cloud float-left">
                  <img class="lazy w-11/12  h-11/12 object-contain" data-src="{{product.featured_image | img_url: '92x', scale: 2 }}" alt="{{product.featured_image.alt}}">
                </div>
              {%- endif -%}
              <div>
                <div class="text-p-s mb-0.5 sm:hover:underline sm:hover:text-pine">{{- product.title -}}</div>
                <div class="font-sora text-p-s sm:text-p text-stone leading-5 font-semibold">{{- product.price | money -}}</div>
              </div>
            </a>
          </li>
          <li class="mb-5">
            {%- assign product = collections.all.products.last -%}
            <a href="{{product.url}}" class="flow-root">
              {%- if product.featured_image != blank -%}
                <div class="inline-flex items-center justify-center w-26.5 h-26.5 mr-6.25 bg-faint-cloud float-left">
                  <img class="lazy w-11/12  h-11/12 object-contain" data-src="{{product.featured_image | img_url: '92x', scale: 2 }}" alt="{{product.featured_image.alt}}">
                </div>
              {%- endif -%}
              <div>
                <div class="text-p-s mb-0.5 sm:hover:underline sm:hover:text-pine">{{- product.title -}}</div>
                <div class="font-sora text-p-s sm:text-p text-stone leading-5 font-semibold">{{- product.price | money -}}</div>
              </div>
            </a>
          </li>
          <li>
            {%- assign product = collections.all.products.last -%}
            <a href="{{product.url}}" class="flow-root">
              {%- if product.featured_image != blank -%}
                <div class="inline-flex items-center justify-center w-26.5 h-26.5 mr-6.25 bg-faint-cloud float-left">
                  <img class="lazy w-11/12 h-11/12 object-contain" data-src="{{product.featured_image | img_url: '92x', scale: 2 }}" alt="{{product.featured_image.alt}}">
                </div>
              {%- endif -%}
              <div>
                <div class="text-p-s mb-0.5 sm:hover:underline sm:hover:text-pine">{{- product.title -}}</div>
                <div class="font-sora text-p-s sm:text-p text-stone leading-5 font-semibold">{{- product.price | money -}}</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="search-auto__suggest relative bg-light-sand w-full sm:w-1/2 sm:w-270 p-5 sm:p-8 xl:flex justify-between  flex-col">
        <span class="hidden sm:block w-4 h-4 shadow-search-auto bg-light-sand transform rotate-45 z-1 absolute left-1/2 -translate-x-1/2 -top-2.5">
          <span class="w-8 h-8 bg-light-sand absolute z-2 top-0 left-0"></span>
        </span>
        <ul class="list-none p-0">
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">
            <b>Mens Jersey</b>
          </li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">
            <a>Short Sleeve <b>Mens Jersey</b></a>
          </li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine"><b>Mens</b> Top</li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine"><b>Mens</b> Shirts</li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">Womens <b>Jersey</b></li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">Tops</li>
        </ul>
        <a href="javascript:void(0)" class="search-auto--all w-max uppercase font-sora text-special-xs sm:text-special border border-t-0 border-l-0 border-r-0 border-b-2 border-black font-semibold sm:hover:border-pine sm:hover:text-pine mt-2 md:mt-0">All Results</a>
      </div>
    </div>
  {% endif %}

{% else %}

  {% if settings.ss_enable %}
    <form class="px-4.5 xl:px-0 relative w-full h-full xl:h-auto shadow-search-auto xl:shadow-none z-1 xl:z-auto" action="{{ routes.collections_url }}/{{ settings.ss_collection_handle }}" method="get" role="search" for="search">
      <input type="text" name="q" placeholder="Search {{ shop.name }}" value="{{ search.terms | escape }}" class="searchspring-ac w-full pl-7.5 xl:pl-4 py-2 pr-12.5 bg-white font-sora text-p xl:text-p-s outline-none border-none xl:border xl:border-solid border-light-stone focus:border-dark-stone group-hover:bg-search-input-hover transition duration-300 ease-in-out h-full xl:h-auto" onkeyup="eHS.headerNav.searchOpen(event)" onclick="eHS.headerNav.searchOpen(event)" onfocus="eHS.headerNav.searchOpen(event)" autocomplete="off" data-search-input />
      <button class="nav-search-btn flex items-center absolute outline-none active:outline-pine focus:outline-pine inset-y-0 right-0 pr-3 stroke-black group">
        <span class="sr-only">Search</span>
        {% render 'svg-search' %}
      </button>
      <span tabindex="0" class="nav-search-close absolute right-12 top-1/2 transform -translate-y-1/2 cursor-pointer hidden" onclick="eHS.headerNav.searchClose(event)">
        {%- render 'svg-close', width: "18px", height: "18px" -%}
      </span>

      <span class="absolute top-1/2 left-4.5 transform -translate-y-1/2 hidden xl:hidden text-black" data-search-arrow>
        {% render 'svg-chevron-left', width: "14px", height: "14px" %}
      </span>
    </form>
  {% else %}
    <form class="px-4.5 xl:px-0 relative w-full h-full xl:h-auto shadow-search-auto xl:shadow-none z-1 xl:z-auto" action="{{ routes.search_url }}" method="get" role="search" for="search">
      <input type="text" name="q" placeholder="Search {{ shop.name }}" value="{{ search.terms | escape }}" class="w-full pl-7.5 xl:pl-4 py-2 pr-12.5 bg-white font-sora text-p xl:text-p-s outline-none border-none xl:border xl:border-solid border-light-stone focus:border-dark-stone group-hover:bg-search-input-hover transition duration-300 ease-in-out h-full xl:h-auto" onkeyup="eHS.headerNav.searchOpen(event)" tabindex="0" onclick="eHS.headerNav.searchOpen(event)" onfocus="eHS.headerNav.searchOpen(event)" autocomplete="off" data-search-input />
      <button class="nav-search-btn flex items-center absolute outline-none active:outline-pine focus:outline-pine inset-y-0 right-0 pr-3 stroke-black group">
        <span class="sr-only">Search</span>
        {% render 'svg-search' %}
      </button>
      <span tabindex="0" class="nav-search-close absolute right-12 top-1/2 transform -translate-y-1/2 cursor-pointer hidden" onclick="eHS.headerNav.searchClose(event)">
        {%- render 'svg-close', width: "18px", height: "18px" -%}
      </span>

      <span class="absolute top-1/2 left-4.5 transform -translate-y-1/2 hidden xl:hidden text-black" data-search-arrow>
        {% render 'svg-chevron-left', width: "14px", height: "14px" %}
      </span>
    </form>

    <div class="search-auto w-full sm:w-637 bg-white max-h-autocomplete sm:max-h-450 xl:shadow-search-auto absolute top-15 sm:top-20 xl:top-14 right-1/2 transform translate-x-1/2 xl:translate-x-33.75 flex-col-reverse sm:flex-row overflow-auto sm:overflow-visible hidden" data-search-auto>
      <div class="block p-5 sm:p-10 pt-6 w-full sm:w-1/2 sm:w-results">
        <div class="font-sora text-special-s font-semibold mb-2">SUGGESTIONS</div>
        <ul class="search-auto__results list-none p-0">
          <li class="mb-5">
            {%- assign product = collections.all.products.first -%}
            <a href="{{product.url}}" class="flow-root">
              {%- if product.featured_image != blank -%}
                <div class="inline-flex items-center justify-center w-26.5 h-26.5 mr-6.25 bg-faint-cloud float-left">
                  <img class="lazy w-11/12  h-11/12 object-contain" data-src="{{product.featured_image | img_url: '92x', scale: 2 }}" alt="{{product.featured_image.alt}}">
                </div>
              {%- endif -%}
              <div>
                <div class="text-p-s mb-0.5 sm:hover:underline sm:hover:text-pine">{{- product.title -}}</div>
                <div class="font-sora text-p-s sm:text-p text-stone leading-5 font-semibold">{{- product.price | money -}}</div>
              </div>
            </a>
          </li>
          <li class="mb-5">
            {%- assign product = collections.all.products.last -%}
            <a href="{{product.url}}" class="flow-root">
              {%- if product.featured_image != blank -%}
                <div class="inline-flex items-center justify-center w-26.5 h-26.5 mr-6.25 bg-faint-cloud float-left">
                  <img class="lazy w-11/12  h-11/12 object-contain" data-src="{{product.featured_image | img_url: '92x', scale: 2 }}" alt="{{product.featured_image.alt}}">
                </div>
              {%- endif -%}
              <div>
                <div class="text-p-s mb-0.5 sm:hover:underline sm:hover:text-pine">{{- product.title -}}</div>
                <div class="font-sora text-p-s sm:text-p text-stone leading-5 font-semibold">{{- product.price | money -}}</div>
              </div>
            </a>
          </li>
          <li>
            {%- assign product = collections.all.products.last -%}
            <a href="{{product.url}}" class="flow-root">
              {%- if product.featured_image != blank -%}
                <div class="inline-flex items-center justify-center w-26.5 h-26.5 mr-6.25 bg-faint-cloud float-left">
                  <img class="lazy w-11/12 h-11/12 object-contain" data-src="{{product.featured_image | img_url: '92x', scale: 2 }}" alt="{{product.featured_image.alt}}">
                </div>
              {%- endif -%}
              <div>
                <div class="text-p-s mb-0.5 sm:hover:underline sm:hover:text-pine">{{- product.title -}}</div>
                <div class="font-sora text-p-s sm:text-p text-stone leading-5 font-semibold">{{- product.price | money -}}</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="search-auto__suggest relative bg-light-sand w-full sm:w-1/2 sm:w-270 p-5 sm:p-8 xl:flex justify-between  flex-col">
        <span class="hidden sm:block w-4 h-4 shadow-search-auto bg-light-sand transform rotate-45 z-1 absolute left-1/2 -translate-x-1/2 -top-2.5">
          <span class="w-8 h-8 bg-light-sand absolute z-2 top-0 left-0"></span>
        </span>
        <ul class="list-none p-0">
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">
            <b>Mens Jersey</b>
          </li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">
            <a>Short Sleeve <b>Mens Jersey</b></a>
          </li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine"><b>Mens</b> Top</li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine"><b>Mens</b> Shirts</li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">Womens <b>Jersey</b></li>
          <li class="search-auto__suggest--item text-p-s leading-9 sm:hover:underline sm:hover:text-pine">Tops</li>
        </ul>
        <a href="javascript:void(0)" class="search-auto--all w-max uppercase font-sora text-special-xs sm:text-special border border-t-0 border-l-0 border-r-0 border-b-2 border-black font-semibold sm:hover:border-pine sm:hover:text-pine mt-2 md:mt-0">All Results</a>
      </div>
    </div>
  {% endif %}

{% endif %}