{%- assign color_label = 'color,colour,couleur,cor,colore,farbe,색,色,カラー,färg,farve,szín' | split: ',' -%}
{%- if product.price < product.compare_at_price -%}
  {%- assign sale = true -%}
{%- else -%}
  {%- assign sale = false -%}
{%- endif -%}

<div class="frequent-product-item relative group lg:border border-white lg:hover:border-bright-yellow transition duration-500 ease-in-out {% if location == 'cart' %} pb-7 md:pb-12.5 {% else %} pb-7 {% endif %} {{classes}}">
  <a href="{{ product.url | within: collection }}" class="frequent-product-item__image block mb-8 md:mb-7.25">
    <div class="relative w-full h-0 pt-[100%] bg-faint-cloud">
      <img class="lazy absolute object-contain top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-9/12 h-9/12" data-src="{{product.featured_image | img_url: '160x', scale: 2}}" alt="{{product.featured_image.alt}}">
      {%- assign current_variant = current_variant | default: product.first_available_variant -%}
      {%- if location == 'cart' -%}
        {%- render 'product-badge' product: product, current_variant: current_variant, classes: 'absolute -bottom-6.25 md:bottom-auto md:top-5 left-0' -%}
      {%- else -%}
        {%- render 'product-badge' product: product, classes: 'absolute -bottom-6.25 md:bottom-auto md:top-5 left-0' -%}
      {%- endif -%}
    </div>
  </a>
  <div class="text-center {% if location == 'cart' %} pb-3.5 md:pb-10.5 {% else %} pb-3.5 {% endif %}">
    <a href="{{ product.url | within: collection }}" class="{% if location == 'cart' %} text-p-xs sm:text-p-lg {% else %} text-p-xs {% endif %} font-medium">{{- product.title -}}</a>
    {%- if product.metafields["global"]["prd_sub_title"] -%}
      <div class="text-p-xs font-medium hidden md:block">{{- product.metafields["global"]["prd_sub_title"] -}}</div>
    {%- endif -%}
    {%- render 'yotpo-plp-rating' product: product -%}
    <div class="mt-2.25 mb-0.75 text-p leading-5 text-stone font-sora font-semibold">
      <span class="flex items-center justify-center">
        <span {% if sale %}class="text-pine"{% endif %}>{{ product.price | money }}</span>
        {%- if sale -%}
          <span class="text-light-stone text-p-s text-center line-through inline-block ml-2.5">{{ product.compare_at_price | money }}</span>
        {%- endif -%}
      </span>
      {%- if sale -%}
        {%- assign savings = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | append: '%' -%}
        <span class="text-center text-p-xs font-light text-pine tracking-normal font-sora">{{ savings }} Off with code PEARL</span>
      {%- endif -%}
    </div>
    {%- assign colors_count = 0 -%}
    {%- for option in product.options_with_values -%}
      {%- assign downcased_option = option.name | downcase -%}
      {%- if color_label contains downcased_option -%}
        {%- assign colors_count = option.values.size -%}
      {%- endif -%}
    {%- endfor -%}
    {%- if colors_count > 0 -%}
      <div class="mt-1.25 text-stone text-p-xxs font-light">{{ 'collections.general.colors_count' | t: count: colors_count }}</div>
    {%- endif -%}
  </div>
  <div class="border border-black lg:group-hover:border-l-0 lg:group-hover:border-r-0 lg:group-hover:border-b-0 w-full lg:group-hover:border-bright-yellow absolute bottom-0 left-0 {% if location == 'cart' %} h-7 md:h-12.5 {% else %} h-7 {% endif %}">
    {%- if product.variants.size > 1 -%}
      <a href="{{ product.url | within: collection }}" class="uppercase outline-none focus:outline-none font-semibold font-sora flex items-center justify-center w-full h-full transition duration-500 ease-in-out lg:hover:bg-lush {% if location == 'cart' %} text-special-xs md:text-p-s {% else %} text-special-xs {% endif %}">CHOOSE OPTIONS</a>
    {%- else -%}
      <button class="uppercase outline-none focus:outline-none font-semibold font-sora flex items-center justify-center w-full h-full transition duration-500 ease-in-out lg:hover:bg-lush {% if location == 'cart' %} text-special-xs md:text-p-s {% else %} text-special-xs {% endif %}" onclick="eHS.miniCart.open('{{product.handle}}', 1, '{{product.first_available_variant.id}}')">ADD TO CART</button>
    {%- endif -%}
  </div>
</div>