{% assign mb_class = 'mb-0' %}{% if block.settings.enable_bottom_margin %}{% assign mb_class = 'mb-20 md:mb-40' %}{% endif %}
<div data-section-id="{{ block.id }}" data-section-type="centered-content" id="section-{{ number }}" class="relative px-6 {{ mb_class }}">
  <div class="max-w-full md:max-w-1200 mx-auto relative">

    {% if block.settings.image != blank or block.settings.video != blank or block.settings.youtube_video != blank %}
      <div class="centered-content__bg relative">
        {% if block.settings.video != blank or block.settings.video_1 != blank %}
          <video class="centered-content__video w-full min-h-450 object-cover" loop="true" muted="true" playsinline>
            <source src="{{ block.settings.video }}" type="video/webm" />
            <source src="{{ block.settings.video_1 }}" type="video/mp4" />
          </video>
          <div class="centered-content__bg-overlay absolute inset-0">
            {% if block.settings.image != blank %}
              <picture>
                <source media="(min-width:768px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                <source media="(max-width:767px)" srcset="{% if block.settings.image_mobile != blank %}{{ block.settings.image_mobile | img_url: 'master' }}{% endif %}">
                <img class="lazy centered-content__bg-image w-full h-full min-h-450 object-cover" data-src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}" />
              </picture>
            {% endif %}
            <span class="play-video-btn bg-bright-yellow hover:bg-[faded-bright-yellow] w-8.5 h-8.5 lg:w-23.5 lg:h-23.5 rounded-full absolute top-1/2 left-1/2 cursor-pointer transform -translate-x-1/2 -translate-y-1/2 z-1" data-video="{{video_src | strip }}">
              {%- render 'svg-play-light', classes: 'absolute z-2 top-1/2 left-1/2 cursor-pointer transform -translate-y-1/2 -translate-x-1/3 w-4 h-6 lg:w-8 lg:h-12' -%}
            </span>
          </div>
        {% elsif block.settings.youtube_video != blank %}
          <div class="centered-content__video relative pt-[56.25%] min-h-450" data-yt-video-id="{{ block.settings.youtube_video.id }}">
            <iframe id="yt_video_{{ block.id }}" class="absolute inset-0" src="https://www.youtube.com/embed/{{ block.settings.youtube_video.id }}?rel=0&version=3&controls=0&showinfo=0&playlist={{ block.settings.youtube_video.id }}&enablejsapi" width="100%" height="100%" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div class="centered-content__bg-overlay absolute inset-0">
            {% if block.settings.image != blank %}
              <picture>
                <source media="(min-width:768px)" srcset="{{ block.settings.image | img_url: 'master' }}">
                <source media="(max-width:767px)" srcset="{% if block.settings.image_mobile != blank %}{{ block.settings.image_mobile | img_url: 'master' }}{% endif %}">
                <img class="lazy centered-content__bg-image w-full h-full min-h-450 object-cover" data-src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}" />
              </picture>
            {% endif %}
            <span class="play-video-btn bg-bright-yellow hover:bg-[faded-bright-yellow] w-8.5 h-8.5 lg:w-23.5 lg:h-23.5 rounded-full absolute top-1/2 left-1/2 cursor-pointer transform -translate-x-1/2 -translate-y-1/2 z-1" data-video="{{video_src | strip }}">
              {%- render 'svg-play-light', classes: 'absolute z-2 top-1/2 left-1/2 cursor-pointer transform -translate-y-1/2 -translate-x-1/3 w-4 h-6 lg:w-8 lg:h-12' -%}
            </span>
          </div>
        {% elsif block.settings.image != blank %}
          <picture>
            <source media="(min-width:768px)" srcset="{{ block.settings.image | img_url: 'master' }}">
            <source media="(max-width:767px)" srcset="{% if block.settings.image_mobile != blank %}{{ block.settings.image_mobile | img_url: 'master' }}{% endif %}">
            <img class="lazy centered-content__bg-image w-full h-full min-h-450 object-cover" data-src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.image.alt | escape }}" />
          </picture>
        {% endif %}
      </div>
    {% endif %}

  </div>
</div>