{% unless template == 'index' or template == 'cart' or template == 'list-collections' %}
  <nav class="breadcrumb font-sora text-p-xs" role="navigation" aria-label="breadcrumbs">
    <a class="underline hover:text-bright-yellow" href="/" title="Home">Home</a>
    {% if template contains 'page' %}
      <span class="" aria-hidden="true">&nbsp;/&nbsp;</span>
      <span>{{ page.title }}</span>
    {% elsif template contains 'product' %}
      {% if collection.url %}
        <span aria-hidden="true">&nbsp;/&nbsp;</span>
        <a class="underline hover:text-bright-yellow" href="{{ collection.url }}">{{ collection.title }}</a>
      {% else %}
        <span aria-hidden="true">&nbsp;/&nbsp;</span>
        <a class="underline hover:text-bright-yellow" href="/collections/all">Products</a>
      {% endif %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {% if product.title contains ':' %}
        {% assign split_title = product.title | split: ':' %}
        {{ split_title[0] }}
      {% elsif product.title contains '-' %}
        {% assign split_title = product.title | split: '-' %}
        {{ split_title[0] }}
      {% else %}
        {{ product.title }}
      {% endif %}
    {% elsif template contains 'collection' and collection.handle %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <a class="underline hover:text-bright-yellow" href="{{ url }}">{{ collection.title }}</a>
        <span aria-hidden="true">&nbsp;/&nbsp;</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
        <span>{{ collection.title }}</span>
      {% endif %}
    {% elsif template == 'blog' %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <span aria-hidden="true">/</span>
        <span>{{ current_tags | join: " + " }}</span>
      {% else %}
      <span>{{ blog.title }}</span>
      {% endif %}
    {% elsif template == 'article' %}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      {{ blog.title | link_to: blog.url }}
      <span aria-hidden="true">&nbsp;/&nbsp;</span>
      <span>{{ article.title }}</span>
    {% else %}
    <span aria-hidden="true">&nbsp;/&nbsp;</span>
    <span>{{ page_title }}</span>
    {% endif %}
  </nav>
{% endunless %}