{% comment %}
  © Sections Pro. You are free to use this section in your store. You may not redistribute this section in another Shopify app.
{% endcomment %}
<style>

  

  {%- capture sp_content -%} 

  {% if section.settings.override_fonts %}
      {{ section.settings.text_font | font_face }}
      {{ section.settings.headline_font | font_face }}
  {% endif %}

  #spro-{{ section.id }} p {
      {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.text_size }}px;
      {% endif %}
      {% if section.settings.override_fonts %}
      font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
      font-weight: {{ section.settings.text_font.weight }};
      {% endif %}
      {% if section.settings.text_line_height != 'inherit' %}line-height: {{ section.settings.text_line_height }};{% endif %}
      margin: 0 0 {{ section.settings.element_spacing }}px 0;
      padding: 0;
      {% if section.settings.override_text_colors %}
      color: {{ section.settings.text_color }};
      {% endif %}
  }

  #spro-{{ section.id }} div.spro-richtext {
    margin: 0 0 {{ section.settings.element_spacing }}px 0;
  }

  #spro-{{ section.id }} ul, #spro-{{ section.id }} ol {
    margin: 0 0 {{ section.settings.element_spacing }}px 0;
  }

  #spro-{{ section.id }} li {
    {% if section.settings.override_text_sizes %}
    font-size: {{ section.settings.text_size }}px;
    {% endif %}
    {% if section.settings.override_fonts %}
    font-family: {{ section.settings.text_font.family }}, {{ section.settings.text_font.fallback_families }};
    font-weight: {{ section.settings.text_font.weight }};
    {% endif %}
    {% if section.settings.text_line_height != 'inherit' %}line-height: {{ section.settings.text_line_height }};{% endif %}
    margin: 0 0 5px 0;
    padding: 0;
    {% if section.settings.override_text_colors %}
    color: {{ section.settings.text_color }};
    {% endif %}
  }

  #spro-{{ section.id }} li:last-child {
    margin: 0;
  }

  #spro-{{ section.id }} p a,
  #spro-{{ section.id }} p a:visited
  #spro-{{ section.id }} li a,
  #spro-{{ section.id }} li a:visited {
    {% if section.settings.override_text_colors %}
    color: {{ section.settings.link_color }};
    {% endif %}
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} p,
      #spro-{{ section.id }} li {
        {% if section.settings.override_text_sizes %}
        font-size: {{ section.settings.mobile_text_size }}px;
        {% endif %}
      }
  }

  #spro-{{ section.id }} h1,
  #spro-{{ section.id }} h2,
  #spro-{{ section.id }} h3,
  #spro-{{ section.id }} h4,
  #spro-{{ section.id }} h5 {
      {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size }}px;
      {% endif %}
      {% if section.settings.override_fonts %}
      font-family: {{ section.settings.headline_font.family }}, {{ section.settings.headline_font.fallback_families }};
      font-weight: {{ section.settings.headline_font.weight }};
      {% endif %}
      {% if section.settings.headline_line_height != 'inherit' %}line-height: {{ section.settings.headline_line_height }};{% endif %}
      margin: 0 0 {{ section.settings.element_spacing }}px 0;
      padding: 0;
      {% if section.settings.override_text_colors %}
      color: {{ section.settings.text_color }};
      {% endif %}
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} h1,
      #spro-{{ section.id }} h2,
      #spro-{{ section.id }} h3,
      #spro-{{ section.id }} h4,
      #spro-{{ section.id }} h5 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size }}px;
        {% endif %}
      }
  }

  #spro-{{ section.id }} h2 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:5  | at_least:13 }}px;
    {% endif %}
  }

  #spro-{{ section.id }} h3 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:10 | at_least:13 }}px;
    {% endif %}
  }

  #spro-{{ section.id }} h4 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:15 | at_least:13 }}px;
    {% endif %}
  }

  #spro-{{ section.id }} h5 {
    {% if section.settings.override_text_sizes %}
      font-size: {{ section.settings.headline_size | minus:20 | at_least:13 }}px;
    {% endif %}
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} h2 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size | minus:5 | at_least:13 }}px;
        {% endif %}
      }

      #spro-{{ section.id }} h3 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size | minus:10 | at_least:13 }}px;
        {% endif %}
      }

      #spro-{{ section.id }} h4 {
        {% if section.settings.override_text_sizes %}
        font-size: {{ section.settings.mobile_headline_size | minus:15 | at_least:13 }}px;
      {% endif %}
      }

      #spro-{{ section.id }} h5 {
        {% if section.settings.override_text_sizes %}
          font-size: {{ section.settings.mobile_headline_size | minus:20 | at_least:13 }}px;
        {% endif %}
      }
  }

  #spro-{{ section.id }} {
      background-image: {{ section.settings.section_background_color }};
      {% if section.settings.section_background_image %}
          background: {% if section.settings.section_background_image_color %}{{ section.settings.section_background_image_color }}{%endif%} url({{ section.settings.section_background_image | image_url }});
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          background-size: {{ section.settings.section_background_size }};
      {% endif %}
      width: 100%;
      box-sizing: border-box;
      padding: {{ section.settings.section_padding_top_bottom }}px {{ section.settings.section_padding_left_right }}px;
      overflow: hidden;
  }

  {% if section.settings.mobile_section_background_image %}
  @media (max-width: 767px) {
    #spro-{{ section.id }} {
          background: {% if section.settings.mobile_section_background_image_color %}{{ section.settings.mobile_section_background_image_color }}{%endif%} url({{ section.settings.mobile_section_background_image | image_url }});
          background-repeat: no-repeat;
          background-position: center;
          width: 100%;
          background-size: {{ section.settings.mobile_section_background_size }};
    }
  }
  {% endif %}

  @media (max-width: 767px) {
      #spro-{{ section.id }} {
        padding: {{ section.settings.mobile_section_padding_top_bottom }}px {{ section.settings.mobile_section_padding_left_right }}px;
      }
  }

  {% if section.settings.show_on_device == 'mobile' %}
    @media (min-width: 768px) {
        #spro-{{ section.id }} {
            display: none;
        }
    }
  {% endif %}

  {% if section.settings.show_on_device == 'desktop' %}
    @media (max-width: 767px) {
        #spro-{{ section.id }} {
            display: none;
        }
    }
  {% endif %}

  #spro-{{ section.id }} .spro-container {
      position: relative;
      margin: 0 auto;
      background-image: {{ section.settings.container_background_color }};
      border-radius: {{ section.settings.container_radius }}px;
      {% if section.settings.container_shadow %}box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);{% endif %}
      border: {{ section.settings.container_border_size }}px solid {{ section.settings.container_border_color }};
      max-width: {{ section.settings.container_max_width }}px;
      padding: {{ section.settings.container_padding_top_bottom }}px {{ section.settings.container_padding_left_right }}px;
  }

  @media (max-width: 767px) {
      #spro-{{ section.id }} .spro-container {
      padding: {{ section.settings.mobile_container_padding_top_bottom }}px {{ section.settings.mobile_container_padding_left_right }}px;
      }
  }


  #spro-{{ section.id }} .spro-headline {
    margin: 0;
    padding: 0 0 {{ section.settings.headline_spacing }}px 0;
  }

  #spro-{{ section.id }} .spro-headline * {
    text-align: {{ section.settings.text_alignment }};
  }

  @media only screen and (max-width: 800px) {
    #spro-{{ section.id }} .spro-headline * {
      text-align: {{ section.settings.mobile_text_alignment }};
    }
  }

  /* grid */
  #spro-{{ section.id }} .spro-grid {
    position: relative;
    z-index: 2;
    display: grid;
    {% if section.settings.columns == "1" %}
    grid-template-columns: 1fr;
    {% endif %}
    {% if section.settings.columns == "2" %}
    grid-template-columns: 1fr 1fr;
    {% endif %}
    {% if section.settings.columns == "3" %}
    grid-template-columns: 1fr 1fr 1fr;
    {% endif %}
    gap: {{ section.settings.grid_gap }}px;
  }

  @media only screen and (max-width: 800px) {
    #spro-{{ section.id }} .spro-grid {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: 1fr;
    }
  }

  #spro-{{ section.id }} .spro-grid-col {
    margin: 0;
    padding: 0;
  }

  #spro-{{ section.id }} .spro-grid-item {
    box-sizing: border-box;
    position: relative;
    margin: 0 0 {{ section.settings.grid_gap }}px 0;
    padding: 0;
    overflow: hidden;
    border-radius: 5px;
    transition: .25s all ease;
    border-radius: {{ section.settings.media_radius }}px;
    {% if section.settings.media_shadow %}
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.20);
    {% endif %}
    
  }

  #spro-{{ section.id }} .spro-grid-item:last-child {
    margin: 0;
  }

  #spro-{{ section.id }} .spro-grid-item img,
  #spro-{{ section.id }} .spro-grid-item video {
    position: relative;
    width: 100%;
    display: block;
  }

  #spro-{{ section.id }} .spro-grid-item:hover {
    z-index: 3;
    {% if section.settings.enable_zoom %}transform: scale(1.01);{% endif %}
  }
  
  {%- endcapture -%} 

  {%- liquid
    assign chunks = sp_content | strip_newlines | split: ' ' | join: ' ' | split: '*/'
    for chunk in chunks
      assign mini = chunk | split: '/*' | first | strip | replace: ': ', ':' | replace: '; ', ';' | replace: '} ', '}' | replace: '{ ', '{' | replace: ' {', '{' | replace: ';}', '}'
      echo mini
    endfor
  %}
</style>

<div id="spro-{{ section.id }}" class="spro-section" spro-section>

<div class="spro-container" spro-container>

  {% if section.settings.headline != '' or section.settings.text != '' %}
    <div class="spro-headline" spro-column>
      {% if section.settings.headline != '' %}<h2>{{ section.settings.headline }}</h2>{% endif %}
      {% if section.settings.text != '' %}<p>{{ section.settings.text }}</p>{% endif %}
    </div>
  {% endif %}

  <div class="spro-grid">

    {% for block in section.blocks %}

      {% assign break = forloop.length | divided_by: section.settings.columns | plus: 1 %}
      {% assign break_2 = forloop.length | divided_by: section.settings.columns | times: 2 | plus: 1 %}

      {% if forloop.index == 1 %}
        <div class="spro-grid-col" spro-column>
      {% endif %}

      {% if forloop.index == break %}
        </div><div class="spro-grid-col" spro-column>
      {% endif %}

      {% if forloop.index == break_2 %}
        </div><div class="spro-grid-col" spro-column>
      {% endif %}

      <div class="spro-grid-item">
        {% if block.type == 'video' %}
          
          {% if block.settings.link %}<a href="{{ block.settings.link }}">{% endif %}
            <div class="spro-video-container">
              {{
                block.settings.video
                | video_tag:
                  image_size: '600x',
                  playsinline: block.settings.video_inline,
                  autoplay: block.settings.video_autoplay,
                  loop: block.settings.video_loop,
                  controls: block.settings.video_controls,
                  muted: block.settings.video_muted
              }}
            </div>
          {% if block.settings.link %}</a>{% endif %}
          
        
        {% endif %}
        {% if block.type == 'ext-video' %}

          <style>
            #spro-iframe-{{ block.id }} iframe {
              {% if section.settings.media_aspect_ratio != 'auto' %}
                  height: 100%;
                  background-size: 100%;
                  aspect-ratio: {{ block.settings.media_aspect_ratio }};
                  object-fit: cover;
              {% endif %}
              width: 100%;
              display: block;
            }
          </style>
          
          <div id="spro-iframe-{{ block.id }}" class="spro-ext-video-container">
            {% if block.settings.video %}
                {% if block.settings.video contains 'youtube.com' %}
                  <iframe src="https://www.youtube-nocookie.com/embed/{{ block.settings.video.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                {% elsif block.settings.video contains 'vimeo.com' %}
                  <iframe src="https://player.vimeo.com/video/{{ block.settings.video.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                {% endif %}
            {% else %}
              <img src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect x='2' y='2' width='496' height='496' fill='%23D8D8D8' stroke='%23D8D8D8' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E">
            {% endif %}
          </div>
          
        {% endif %}
        {% if block.type == 'image' %}

          {% if block.settings.link %}<a href="{{ block.settings.link }}">{% endif %}

            {% if block.settings.image %}
              <img src="{{ block.settings.image | image_url: width: section.settings.image_width }}"
                loading="lazy"
                srcset="{{ block.settings.image | image_url: width: section.settings.mobile_image_width }} 600w, {{ block.settings.image | image_url: width: section.settings.image_width }} 1100w">
            {% else %}
              <img src="data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg version='1.1' viewBox='0 0 500 500' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect x='2' y='2' width='496' height='496' fill='%23D8D8D8' stroke='%23D8D8D8' stroke-width='4'/%3E%3C/g%3E%3C/svg%3E">
            {% endif %}

          {% if block.settings.link %}</a>{% endif %}
        {% endif %}
      </div>
      <!-- /.spro-grid-item -->


      {% if forloop.length == forloop.index %}
        </div>
      {% endif %}

    {% endfor %}

  </div>
  <!-- /.spro-grid -->
  
</div>
<!-- /.spro-container -->

</div>
<!-- /.spro-section -->

{% if section.settings.big_play_pause_button %}
  <!-- play/pause js -->
  <style>
    #spro-{{ section.id }} .spro-video-container {
      position: relative;
      cursor: pointer;
    }
  
    #spro-{{ section.id }} .spro-video-container svg.spro-play-button,
    #spro-{{ section.id }} .spro-video-container svg.spro-pause-button {
      position: absolute;
      top: calc(50% - 45px);
      left: calc(50% - 45px);
      transition: all .5s;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.25));
    }
  
    #spro-{{ section.id }} .spro-video-container svg.spro-play-button *,
    #spro-{{ section.id }} .spro-video-container svg.spro-pause-button * {
      pointer-events: none;
    }
  
    #spro-{{ section.id }} .spro-video-container[data-state="paused"] svg.spro-play-button {
      visibility: visible;
      opacity: 0.8;
      opacity: .9;
    }  
  
    #spro-{{ section.id }} .spro-video-container[data-state="playing"]:hover svg.spro-pause-button {
      visibility: visible;
      opacity: 0.8;
    }
  </style>
  <script>
  
    var sp_play_button = `
    <svg class="spro-play-button" width="90px" height="90px" viewBox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="media-grid" transform="translate(-325, -205)" fill="#FFFFFF" fill-rule="nonzero">
                <g transform="translate(40, 145)">
                    <g transform="translate(230, 0)">
                        <path d="M99.5,60 C105.655833,60 111.440833,61.168125 116.855,63.504375 C122.269167,65.840625 126.97875,69.01125 130.98375,73.01625 C134.98875,77.02125 138.159375,81.7308333 140.495625,87.145 C142.831875,92.5591667 144,98.3441667 144,104.5 C144,110.655833 142.831875,116.440833 140.495625,121.855 C138.159375,127.269167 134.98875,131.97875 130.98375,135.98375 C126.97875,139.98875 122.269167,143.159375 116.855,145.495625 C111.440833,147.831875 105.655833,149 99.5,149 C93.3441667,149 87.5591667,147.831875 82.145,145.495625 C76.7308333,143.159375 72.02125,139.98875 68.01625,135.98375 C64.01125,131.97875 60.840625,127.269167 58.504375,121.855 C56.168125,116.440833 55,110.655833 55,104.5 C55,98.3441667 56.168125,92.5591667 58.504375,87.145 C60.840625,81.7308333 64.01125,77.02125 68.01625,73.01625 C72.02125,69.01125 76.7308333,65.840625 82.145,63.504375 C87.5591667,61.168125 93.3441667,60 99.5,60 Z M90,85 L90,125 L121,105 L90,85 Z" id="Shape"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>`;
  
    var sp_pause_button = `
  <svg class="spro-pause-button" width="90px" height="90px" viewBox="0 0 90 90" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="media-grid" transform="translate(-402, -205)" fill="#FFFFFF">
              <g id="Group-21" transform="translate(40, 145)">
                  <g id="Group-20" transform="translate(230, 0)">
                      <path d="M176.5,60 C182.655833,60 188.440833,61.168125 193.855,63.504375 C199.269167,65.840625 203.97875,69.01125 207.98375,73.01625 C211.98875,77.02125 215.159375,81.7308333 217.495625,87.145 C219.831875,92.5591667 221,98.3441667 221,104.5 C221,110.655833 219.831875,116.440833 217.495625,121.855 C215.159375,127.269167 211.98875,131.97875 207.98375,135.98375 C203.97875,139.98875 199.269167,143.159375 193.855,145.495625 C188.440833,147.831875 182.655833,149 176.5,149 C170.344167,149 164.559167,147.831875 159.145,145.495625 C153.730833,143.159375 149.02125,139.98875 145.01625,135.98375 C141.01125,131.97875 137.840625,127.269167 135.504375,121.855 C133.168125,116.440833 132,110.655833 132,104.5 C132,98.3441667 133.168125,92.5591667 135.504375,87.145 C137.840625,81.7308333 141.01125,77.02125 145.01625,73.01625 C149.02125,69.01125 153.730833,65.840625 159.145,63.504375 C164.559167,61.168125 170.344167,60 176.5,60 Z M167.073333,88 C164.823693,88 163,89.8236935 163,92.0733333 L163,119.926667 C163,122.176307 164.823693,124 167.073333,124 C169.322973,124 171.146667,122.176307 171.146667,119.926667 L171.146667,92.0733333 C171.146667,89.8236935 169.322973,88 167.073333,88 Z M185.873333,88 C183.623693,88 181.8,89.8236935 181.8,92.0733333 L181.8,119.926667 C181.8,122.176307 183.623693,124 185.873333,124 C188.122973,124 189.946667,122.176307 189.946667,119.926667 L189.946667,92.0733333 C189.946667,89.8236935 188.122973,88 185.873333,88 Z" id="Combined-Shape"></path>
                  </g>
              </g>
          </g>
      </g>
  </svg>`;
  
    var sp_video_containers = document.querySelectorAll(`#spro-{{ section.id }} .spro-video-container`);
  
    for(var x=0; x<sp_video_containers.length; x++) {
      sp_video_containers[x].innerHTML += sp_play_button;
      sp_video_containers[x].innerHTML += sp_pause_button;
    }
  
    var sp_videos = document.querySelectorAll(`#spro-{{ section.id }} .spro-video-container video`);
  
    for(var x=0; x<sp_videos.length; x++) {
  
      sp_videos[x].parentNode.setAttribute('data-state', 'paused'); 
  
      if(sp_videos[x].hasAttribute('autoplay')) {
          sp_videos[x].parentNode.setAttribute('data-state', 'playing');
      }
      else {
          sp_videos[x].parentNode.setAttribute('data-state', 'paused');
        
      }
      
      sp_videos[x].addEventListener('click', (e) => {
  
        if (e.target.paused) {
          e.target.play();
          e.target.parentNode.setAttribute('data-state', 'playing');
        }
        else { 
          e.target.pause();
          e.target.parentNode.setAttribute('data-state', 'paused');    
        }  
      });
      
    }
  </script>
{% endif %}

{% schema %}
  {
    "name": "🚀 Masonry",
    "settings": [
      
    {
        "type": "header",
        "content": "Font",
        "info": "Set the fonts for your section. If overriding, the theme fonts will be ignored."
    },
    {
        "type": "checkbox",
        "id": "override_fonts",
        "label": "Override theme fonts",
        "default": false
    },
    {
        "type": "font_picker",
        "id": "headline_font",
        "label": "Headline Font",
        "default": "sans-serif",
        "visible_if": "{{ section.settings.override_fonts == true }}"
    },
    {
        "type": "font_picker",
        "id": "text_font",
        "label": "Text Font",
        "default": "sans-serif",
        "visible_if": "{{ section.settings.override_fonts == true }}"
    },
    {
        "type": "header",
        "content": "Text",
        "info": "Set the text for your section. If overriding, the theme text styles will be ignored."
    },
    {
        "type": "checkbox",
        "id": "override_text_sizes",
        "label": "Override text sizes",
        "default": false
    },
    {
        "type": "range",
        "id": "text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Text Size",
        "default": 15,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "range",
        "id": "mobile_text_size",
        "min": 10,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Mobile Text Size",
        "default": 15,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "select",
        "id": "text_line_height",
        "label": "Text Line Height",
        "options": [
            {
                "value": "0.75",
                "label": "0.75"
            },
            {
                "value": "1.0",
                "label": "1.0"
            },
            {
                "value": "1.1",
                "label": "1.1"
            },
            {
                "value": "1.2",
                "label": "1.2"
            },
            {
                "value": "1.3",
                "label": "1.3"
            },
            {
                "value": "1.4",
                "label": "1.4"
            },
            {
                "value": "1.5",
                "label": "1.5"
            },
            {
                "value": "1.6",
                "label": "1.6"
            },
            {
                "value": "1.7",
                "label": "1.7"
            },
            {
                "value": "1.8",
                "label": "1.8"
            },
            {
                "value": "1.9",
                "label": "1.9"
            },
            {
                "value": "2.0",
                "label": "2.0"
            },
            {
                "value": "inherit",
                "label": "Inherit"
            }
        ],
        "default": "inherit",
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "range",
        "id": "headline_size",
        "min": 10,
        "max": 75,
        "step": 1,
        "unit": "px",
        "label": "Headline Size",
        "default": 40,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "range",
        "id": "mobile_headline_size",
        "min": 10,
        "max": 75,
        "step": 1,
        "unit": "px",
        "label": "Mobile Headline Size",
        "default": 40,
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "select",
        "id": "headline_line_height",
        "label": "Headline Line Height",
        "options": [
            {
                "value": "0.75",
                "label": "0.75"
            },
            {
                "value": "1.0",
                "label": "1.0"
            },
            {
                "value": "1.1",
                "label": "1.1"
            },
            {
                "value": "1.2",
                "label": "1.2"
            },
            {
                "value": "1.3",
                "label": "1.3"
            },
            {
                "value": "1.4",
                "label": "1.4"
            },
            {
                "value": "1.5",
                "label": "1.5"
            },
            {
                "value": "1.6",
                "label": "1.6"
            },
            {
                "value": "1.7",
                "label": "1.7"
            },
            {
                "value": "1.8",
                "label": "1.8"
            },
            {
                "value": "1.9",
                "label": "1.9"
            },
            {
                "value": "2.0",
                "label": "2.0"
            },
            {
                "value": "inherit",
                "label": "Inherit"
            }
        ],
        "default": "inherit",
        "visible_if": "{{ section.settings.override_text_sizes == true }}"
    },
    {
        "type": "checkbox",
        "id": "override_text_colors",
        "label": "Override text colors",
        "default": false
    },
    {
        "type": "color",
        "id": "text_color",
        "default": "#111",
        "label": "Text Color",
        "visible_if": "{{ section.settings.override_text_colors == true }}"
    },
    {
        "type": "color",
        "id": "link_color",
        "default": "#005bd3",
        "label": "Link Color",
        "visible_if": "{{ section.settings.override_text_colors == true }}"
    },
    {
        "type": "header",
        "content": "Section Design",
        "info": "Set the design for the section"
    },
    {
        "type": "select",
        "id": "show_on_device",
        "label": "Show Section",
        "options": [
            {
                "value": "all",
                "label": "All Devices"
            },
            {
                "value": "mobile",
                "label": "Mobile Only"
            },
            {
                "value": "desktop",
                "label": "Desktop Only"
            }
        ],
        "default": "all"
    },
    {
        "type": "color_background",
        "id": "section_background_color",
        "default": "linear-gradient(127deg, rgba(241, 246, 251, 1) 11%, rgba(241, 246, 251, 1) 81%)",
        "label": "Background Color"
    },
    {
        "type": "paragraph",
        "content": "Set the Background Image (optional)"
    },
    {
        "type": "image_picker",
        "id": "section_background_image",
        "label": "Background Image"
    },
    {
        "type": "color",
        "id": "section_background_image_color",
        "label": "Background Image Color"
    },
    {
        "type": "select",
        "id": "section_background_size",
        "default": "cover",
        "label": "Background Image Size",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ]
    },
    {
        "type": "paragraph",
        "content": "Set the Mobile Background Image (optional)"
    },
    {
        "type": "image_picker",
        "id": "mobile_section_background_image",
        "label": "Mobile Background Image"
    },
    {
        "type": "color",
        "id": "mobile_section_background_image_color",
        "label": "Mobile Background Image Color"
    },
    {
        "type": "select",
        "id": "mobile_section_background_size",
        "default": "cover",
        "label": "Mobile Background Image Size",
        "options": [
          {
            "value": "auto",
            "label": "Auto"
          },
          {
            "value": "cover",
            "label": "Cover"
          },
          {
            "value": "contain",
            "label": "Contain"
          }
        ]
    },
    {
        "type": "paragraph",
        "content": "Set the padding for the section"
    },
    {
        "type": "number",
        "id": "section_padding_top_bottom",
        "default": 25,
        "label": "Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "mobile_section_padding_top_bottom",
        "default": 25,
        "label": "Mobile Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "section_padding_left_right",
        "default": 25,
        "label": "Padding Left/Right"
    },
    {
        "type": "number",
        "id": "mobile_section_padding_left_right",
        "default": 25,
        "label": "Mobile Padding Left/Right"
    },
    {
        "type": "header",
        "content": "Container Design",
        "info": "Set the design for your inner container"
    },
    {
        "type": "color_background",
        "id": "container_background_color",
        "label": "Background Color"
    },
    {
        "type": "number",
        "id": "container_max_width",
        "default": 1000,
        "label": "Max Width"
    },
    {
        "type": "number",
        "id": "container_padding_top_bottom",
        "default": 10,
        "label": "Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "mobile_container_padding_top_bottom",
        "default": 10,
        "label": "Mobile Padding Top/Bottom"
    },
    {
        "type": "number",
        "id": "container_padding_left_right",
        "default": 10,
        "label": "Padding Left/Right"
    },
    {
        "type": "number",
        "id": "mobile_container_padding_left_right",
        "default": 10,
        "label": "Mobile Padding Left/Right"
    },
    {
        "type": "number",
        "id": "element_spacing",
        "default": 15,
        "label": "Spacing Between Elements"
    },
    {
        "type": "range",
        "id": "container_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Container",
        "default": 0
    },
    {
        "type": "checkbox",
        "id": "container_shadow",
        "default": false,
        "label": "Subtle Shadow on Container"
    },
    {
        "type": "range",
        "id": "container_border_size",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Border Size on Container",
        "default": 0
    },
    {
        "type": "color",
        "id": "container_border_color",
        "default": "#888",
        "label": "Border Color on Container"
    }
,
      {
        "type": "header",
        "content": "Grid Design",
        "info": "Set settings for the grid"
      },
      {
        "type": "select",
        "id": "columns",
        "label": "Columns",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          }
        ],
        "default": "2"
      },
      {
        "type": "number",
        "id": "grid_gap",
        "default": 10,
        "label": "Gap Between Images"
      },
      {
        "type": "header",
        "content": "Media Design",
        "info": "Set the display of the media elements"
      },
      {
        "type": "number",
        "id": "image_width",
        "default": 1000,
        "label": "Image Width"
      },
      {
        "type": "number",
        "id": "mobile_image_width",
        "default": 600,
        "label": "Mobile Image Width"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Zoom on Hover",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "big_play_pause_button",
        "label": "Show Big Play Button",
        "default": true
      },
      {
        "type": "range",
        "id": "media_radius",
        "min": 0,
        "max": 50,
        "step": 1,
        "unit": "px",
        "label": "Round Borders on Media",
        "default": 5
      },
      {
        "type": "checkbox",
        "id": "media_shadow",
        "default": true,
        "label": "Subtle Shadow on Media"
      },
      {
        "type": "header",
        "content": "Headline",
        "info": "Set text for the headline"
      },
      {
          "type": "text_alignment",
          "id": "text_alignment",
          "label": "Text Alignment",
          "default": "center"
      },
      {
          "type": "text_alignment",
          "id": "mobile_text_alignment",
          "label": "Mobile Text Alignment",
          "default": "center"
      },
      {
        "type": "inline_richtext",
        "id": "headline",
        "label": "Headline",
        "default": "<b>Sample Headline</b>"
      },
      {
        "type": "inline_richtext",
        "id": "text",
        "label": "Text",
        "default": "Use this block to add a description. Leave blank to remove."
      },
      {
        "type": "number",
        "id": "headline_spacing",
        "default": 15,
        "label": "Spacing between Headline and Features"
      }
    ],
	"blocks": [
      {
       "name": "Image",
       "type": "image",
       "settings": [
         
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Optional Link"
          }
       ]
      },
      {
        "name": "Video",
        "type": "video",
        "settings": [
           {
             "type": "video",
             "id": "video",
             "label": "Video"
           },
           {
             "type": "url",
             "id": "link",
             "label": "Optional Link"
           },
           {
             "type": "checkbox",
             "id": "video_inline",
             "label": "Play Inline",
             "default": true
           },
           {
             "type": "checkbox",
             "id": "video_autoplay",
             "label": "Autoplay",
             "default": false
           },
           {
             "type": "checkbox",
             "id": "video_loop",
             "label": "Loop Video",
             "default": true
           },
           {
             "type": "checkbox",
             "id": "video_controls",
             "label": "Show Video Controls",
             "default": false
           },
           {
             "type": "checkbox",
             "id": "video_muted",
             "label": "Mute Video",
             "default": true
           }
        ]
       },
       {
        "name": "External Video",
        "type": "ext-video",
        "settings": [
           {
              "type": "video_url",
              "id": "video",
              "label": "Video",
              "accept": ["youtube", "vimeo"]
            },
            {
              "type": "select",
              "id": "media_aspect_ratio",
              "label": "Video Aspect Ratio",
              "options": [
                {
                  "value": "21 / 9",
                  "label": "21:9"
                },
                {
                  "value": "16 / 9",
                  "label": "16:9"
                },
                {
                  "value": "4 / 3",
                  "label": "4:3"
                },
                {
                  "value": "1 / 1",
                  "label": "1:1"
                },
                {
                  "value": "9 / 16",
                  "label": "9:16"
                },
                {
                  "value": "9 / 21",
                  "label": "9:21"
                }
              ],
              "default": "16 / 9"
            }
        ]
       }
    ],
	"presets": [
      {
        "name": "🚀 Masonry",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}