{{ 'section-product-template.css' | asset_url | stylesheet_tag }}
{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% comment %}
** Product - default view **
- Product template
{% endcomment %}
<!-- Global brand Meta -->
{% assign brand = product.metafields.global.brand %}

<a name="pagecontent" id="pagecontent"></a>

<div class="container main content product-name--{{ product.handle }}">
  {% comment %}Check to see if sidebar should be enabled{% endcomment %}
   {{ section.blocks.size }}
  {%- liquid 
    assign sidebar = false

    if section.blocks.size > 0
      unless section.blocks.size == 1 and section.blocks[0].type == '@app'
        assign sidebar = true
      endunless
    endif
  -%}

  {%- liquid 
    assign sidebar = false

    if section.blocks.size > 0
      unless section.blocks.size == 1 and section.blocks[0].type == '@app'
        assign sidebar = true
      endunless
    endif
  -%}
  
  <div class="product clearfix">
    {% if sidebar %}
      {% include 'sidebar' %}
      <div class="twelve columns medium-down--one-whole sidebar--{{ sidebar }}">
    {% else %}
      <div class="sixteen columns">
    {% endif %}

    <div  class="product-{{ product.id }}"
          data-free-text="{{ settings.free_price_text }}"
          >
      <div class="section product_section clearfix js-product_section {% if section.settings.product_images_position == 'right' %}align_right--images{% endif %}" itemscope itemtype="http://schema.org/Product" data-rv-handle="{{ product.handle }}">
        <link itemprop="image" href="{{ product.featured_image | image_url: width: 1200 }}" />
        <meta itemprop="description" content="{{ product.description | strip_html | replace: '"', '\"' | replace: "/", "\/" }}" />
        <div itemprop="shippingDetails" itemtype="https://schema.org/OfferShippingDetails" itemscope>
          <div itemprop="shippingRate" itemtype="https://schema.org/MonetaryAmount" itemscope>
            <meta itemprop="value" content="5.00" />
            <meta itemprop="currency" content="USD" />
          </div>
          <div itemprop="shippingDestination" itemtype="https://schema.org/DefinedRegion" itemscope>
            <meta itemprop="addressCountry" content="US" />
          </div>
          <div itemprop="deliveryTime" itemtype="https://schema.org/ShippingDeliveryTime" itemscope>
            <div itemprop="handlingTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="0" />
              <meta itemprop="maxValue" content="1" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
            <div itemprop="transitTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="7" />
              <meta itemprop="maxValue" content="10" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
          </div>
        </div>
        <div itemprop="hasMerchantReturnPolicy" itemtype="https://schema.org/MerchantReturnPolicy" itemscope>
          <meta itemprop="applicableCountry" content="US" />
          <meta itemprop="returnPolicyCategory" content="https://schema.org/MerchantReturnFiniteReturnWindow" />
          <meta itemprop="merchantReturnDays" content="60" />
          <meta itemprop="returnMethod" content="https://schema.org/ReturnByMail" />
          <meta itemprop="returnFees" content="https://schema.org/FreeReturn" />
        </div>
        <meta itemprop="priceValidUntil" content="{{ 'now' | date: "%s" | plus: seconds30days | date: "%Y-%m-%d" }}" />
        <div class="desktop-only nine columns medium-down--one-whole {% if section.settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}">
          {% include 'product-images' %}
        </div>

        <div class="seven columns medium-down--one-whole  {% if section.settings.product_images_position == 'left' %}omega{% else %}alpha{% endif %}">
          {% if collection.previous_product or collection.next_product or section.settings.product_breadcrumb %}
            <div class="clearfix breadcrumb-collection">
              {% if section.settings.product_breadcrumb %}
                <div class="breadcrumb_text" itemscope itemtype="http://schema.org/BreadcrumbList">
                  <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item" class="breadcrumb_link">
                      <span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span>
                    </a>
                    <meta itemprop="position" content="1" />
                  </span>
                  <span class="breadcrumb-divider">/</span>
                  <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    {% if collection %}
                      <a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item" class="breadcrumb_link">
                        <span itemprop="name">{{ collection.title }}</span>
                        <meta itemprop="position" content="2" />
                        </a>
                    {% else %}
                      <a href="/collections/all" title="{{ collections.all.title }}" itemprop="item" class="breadcrumb_link">
                        <span itemprop="name">{{ collections.all.title }}</span>
                        <meta itemprop="position" content="2" />
                        </a>
                    {% endif %}
                  </span>
                  <span class="breadcrumb-divider">/</span>
                  <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a href="{{ product.url }}" itemprop="item" class="breadcrumb_link">
                      <span itemprop="name">{{ product.title }}</span>
                      <meta itemprop="position" content="3" />
                    </a>
                  </span>
                </div>
              {% endif %}
            </div>
          {% endif %}

          {% assign collection_handles = product.collections | map: 'handle' %}
          {% assign variant = bold_selected_or_first_available_variant %}
          {%- include 'bold-variant' with variant, output: 'none' -%}

          <div class="desktop-only">
          {% if product.available %}
            {% if settings.sale_banner_enabled and bold_compare_at_price_max > bold_price %}
              <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
            {% endif %}
          {% endif %}
          {% if collection_handles contains 'new' %}
            <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
          {% endif %}
          {% if collection_handles contains 'pre-order' %}
            <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
          {% endif %}
          {% if product.tags contains 'new' %}
            <div class="new_banner">New</div>
          {% endif %}
          </div>

          {% if section.settings.display_vendor %}
            <p class="vendor">
              <span itemprop="brand" class="vendor">{{ product.vendor | link_to_vendor }}</span>
            </p>
          {% endif %}
          
          <div class="product_name-price">
            <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
            <div class="mobile-only">
              {% if collection_handles contains 'coming-soon' %}
                <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
              {% else %}
                <div class="modal_price limoniapps-discount-url-productprice" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div itemprop="shippingDetails" itemtype="https://schema.org/OfferShippingDetails" itemscope>
          <div itemprop="shippingRate" itemtype="https://schema.org/MonetaryAmount" itemscope>
            <meta itemprop="value" content="5.00" />
            <meta itemprop="currency" content="USD" />
          </div>
          <div itemprop="shippingDestination" itemtype="https://schema.org/DefinedRegion" itemscope>
            <meta itemprop="addressCountry" content="US" />
          </div>
          <div itemprop="deliveryTime" itemtype="https://schema.org/ShippingDeliveryTime" itemscope>
            <div itemprop="handlingTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="0" />
              <meta itemprop="maxValue" content="1" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
            <div itemprop="transitTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="7" />
              <meta itemprop="maxValue" content="10" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
          </div>
        </div>
        <div itemprop="hasMerchantReturnPolicy" itemtype="https://schema.org/MerchantReturnPolicy" itemscope>
          <meta itemprop="applicableCountry" content="US" />
          <meta itemprop="returnPolicyCategory" content="https://schema.org/MerchantReturnFiniteReturnWindow" />
          <meta itemprop="merchantReturnDays" content="60" />
          <meta itemprop="returnMethod" content="https://schema.org/ReturnByMail" />
          <meta itemprop="returnFees" content="https://schema.org/FreeReturn" />
        </div>
        <meta itemprop="priceValidUntil" content="{{ 'now' | date: "%s" | plus: seconds30days | date: "%Y-%m-%d" }}" />
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                  <meta itemprop="seller" content="{{ shop.name | escape }}" />
                  <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                  <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
    
                  <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                  <span itemprop="price" content="{{ bold_variant_price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > bold_variant_price %}sale{% endif %}">
                    <span class="current_price {% if product.available == false %}hidden{% endif %}">
                      {% if bold_variant_price > 0 %}
                        <span class="money">{{ bold_variant_price | money }}</span>
                      {% else %}
                        {{ settings.free_price_text }}
                      {% endif %}
                    </span>
                  </span>
                  <span class="was_price">
                    {% if bold_variant_price < variant.compare_at_price and variant.available %}
                      <span class="money">{{ variant.compare_at_price | money }}</span>
                    {% endif %}
                  </span>
    
                  {% if section.settings.display_savings %}
                    <span class="sale savings">
                      {% if bold_variant_price < variant.compare_at_price and variant.available %}
                        {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: bold_variant_price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: bold_variant_price | money }}</span>)
                      {% endif %}
                    </span>
                  {% endif %}
                </div>
    
                {% include 'product-notify-me' %}
              {% endif %}
            </div>
          </div>
          {% if section.settings.enable_shopify_product_badges and settings.enable_shopify_review_comments %}
          <div data-bv-show="rating_summary" data-bv-product-id="{{product.id}}" id="rating_summary">
            {% if product.metafields.bazaarvoice.reviews-aggregate-ratings %}
            {{ product.metafields.bazaarvoice.reviews-aggregate-ratings }}
            {% endif %}
          </div>
          {% endif %}
          
          {% assign product_tags = product.tags | join: ' ' %}
          {% if product_tags contains 'meta-size-chart-' %}
            {% for tag in product.tags %}
              {% if tag contains 'meta-size-chart-' %}
                <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                {% include 'popup-size-chart', product_id: product.id %}
              {% endif %}
            {% endfor %}
          {% elsif settings.size_chart != blank %}
            <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
          {% endif %}

          <div class="price-sku desktop-only">
            <div class="desktop-only">
            {% if collection_handles contains 'coming-soon' %}
              <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
            {% else %}
              <div class="modal_price limoniapps-discount-url-productprice" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
<div itemprop="shippingDetails" itemtype="https://schema.org/OfferShippingDetails" itemscope>
          <div itemprop="shippingRate" itemtype="https://schema.org/MonetaryAmount" itemscope>
            <meta itemprop="value" content="5.00" />
            <meta itemprop="currency" content="USD" />
          </div>
          <div itemprop="shippingDestination" itemtype="https://schema.org/DefinedRegion" itemscope>
            <meta itemprop="addressCountry" content="US" />
          </div>
          <div itemprop="deliveryTime" itemtype="https://schema.org/ShippingDeliveryTime" itemscope>
            <div itemprop="handlingTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="0" />
              <meta itemprop="maxValue" content="1" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
            <div itemprop="transitTime" itemtype="https://schema.org/QuantitativeValue" itemscope>
              <meta itemprop="minValue" content="7" />
              <meta itemprop="maxValue" content="10" />
              <meta itemprop="unitCode" content="DAY" />
            </div>
          </div>
        </div>
        <div itemprop="hasMerchantReturnPolicy" itemtype="https://schema.org/MerchantReturnPolicy" itemscope>
          <meta itemprop="applicableCountry" content="US" />
          <meta itemprop="returnPolicyCategory" content="https://schema.org/MerchantReturnFiniteReturnWindow" />
          <meta itemprop="merchantReturnDays" content="60" />
          <meta itemprop="returnMethod" content="https://schema.org/ReturnByMail" />
          <meta itemprop="returnFees" content="https://schema.org/FreeReturn" />
        </div>
        <meta itemprop="priceValidUntil" content="{{ 'now' | date: "%s" | plus: seconds30days | date: "%Y-%m-%d" }}" />
                <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
                <meta itemprop="seller" content="{{ shop.name | escape }}" />
                <link itemprop="availability" href="http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}">
                <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition"/>
  
                <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
                <span itemprop="price" content="{{ bold_variant_price | money_without_currency | remove: "," }}" class="{% if variant.compare_at_price > bold_variant_price %}sale{% endif %}">
                  <span class="current_price {% if product.available == false %}hidden{% endif %}">
                    {% if bold_variant_price > 0 %}
                      <span class="money">{{ bold_variant_price | money }}</span>
                    {% else %}
                      {{ settings.free_price_text }}
                    {% endif %}
                  </span>
                </span>
                <span class="was_price">
                  {% if bold_variant_price < variant.compare_at_price and variant.available %}
                    <span class="money">{{ variant.compare_at_price | money }}</span>
                  {% endif %}
                </span>
  
                {% if section.settings.display_savings %}
                  <span class="sale savings">
                    {% if bold_variant_price < variant.compare_at_price and variant.available %}
                      {{ 'products.product.savings' | t }}  {{ variant.compare_at_price | minus: bold_variant_price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{{ variant.compare_at_price | minus: bold_variant_price | money }}</span>)
                    {% endif %}
                  </span>
                {% endif %}
              </div>
  
              {% include 'product-notify-me' %}
            {% endif %}
            </div>

            <div class="sku-container">
              {% if variant.sku != blank and section.settings.display_sku %}
                <p class="sku">
                  <span>SKU: <span itemprop="sku">{{ variant.sku }}</span></span>
                </p>
              {% endif %}
              {% if product.metafields.product_sku.display_sku != blank %}
                <p class="metasku">
                  <span>SKU: <span itemprop="sku">{{ product.metafields.product_sku_display_sku }}</span></span>
                </p>
              {% endif %}
              {% if product.metafields.global.display_sku %}
                  <p class="display-sku">
                    <span>SKU: <span itemprop="sku">{{ product.selected_or_first_available_variant.sku }}</span></span>
                  </p>
              {% endif %}
            </div>
          </div>

          <div class="mobile-only">
          {% include 'product-images' %}
          </div>
          <div class="product-app-blocks">
          {%- for block in section.blocks -%}
            {% if block.type == '@app' %}
                {% render block %}
            {% endif %}
          {%- endfor -%}
          </div>

          {% if product.metafields.custom.best_for != blank %}
            <div class="best-for">
              <span>Best For:</span> {{ product.metafields.custom.best_for }}
            </div>
          {% endif %}
          
          {% if product.tags contains 'custom-text' and settings.custom_text != "" %}
            {% assign is_valid = true %}
            {% assign now_date = 'now' | date: '%s' %}
            {% if settings.custom_text_start_date != "" %}
              {% assign custom_text_start_date = settings.custom_text_start_date | date: '%s' %}
              {% if custom_text_start_date > now_date %}
                {% assign is_valid = false %}
              {% endif %}
            {% endif %}
            {% if settings.custom_text_end_date != "" %}
              {% assign custom_text_end_date = settings.custom_text_end_date | date: '%s' %}
              {% if custom_text_end_date < now_date %}
                {% assign is_valid = false %}
              {% endif %}
            {% endif %}
            {% if is_valid %}
              <div class="custom-text" {% if settings.custom_text_color != blank %}style="color: {{settings.custom_text_color}};"{% endif %}>
                {% if settings.custom_text_modal != blank %}
                  <a href="#" class="open-usb-modal" data-trigger-id="custom-text">
                {% elsif settings.custom_text_url != blank %}
                  <a href="{{settings.custom_text_url}}">
                {% endif %}
                  {{settings.custom_text}}
                {% if settings.custom_text_modal != blank %}
                  </a>
                {% elsif settings.custom_text_url != blank %}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
          {% if product.tags contains 'custom-text2' and settings.custom_text2 != "" %}
            {% assign is_valid = true %}
            {% assign now_date = 'now' | date: '%s' %}
            {% if settings.custom_text2_start_date != "" %}
              {% assign custom_text2_start_date = settings.custom_text2_start_date | date: '%s' %}
              {% if custom_text2_start_date > now_date %}
                {% assign is_valid = false %}
              {% endif %}
            {% endif %}
            {% if settings.custom_text2_end_date != "" %}
              {% assign custom_text2_end_date = settings.custom_text2_end_date | date: '%s' %}
              {% if custom_text2_end_date < now_date %}
                {% assign is_valid = false %}
              {% endif %}
            {% endif %}
            {% if is_valid %}
              <div class="custom-text" {% if settings.custom_text2_color != blank %}style="color: {{settings.custom_text2_color}};"{% endif %}>
                {% if settings.custom_text2_modal != blank %}
                  <a href="#" class="open-usb-modal" data-trigger-id="custom-text2">
                {% elsif settings.custom_text2_url != blank %}
                  <a href="{{settings.custom_text2_url}}">
                {% endif %}
                  {{settings.custom_text2}}
                {% if settings.custom_text2_modal != blank %}
                  </a>
                {% elsif settings.custom_text2_url != blank %}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}
          {% if product.tags contains 'custom-text3' and settings.custom_text3 != "" %}
            {% assign is_valid = true %}
            {% assign now_date = 'now' | date: '%s' %}
            {% if settings.custom_text3_start_date != "" %}
              {% assign custom_text3_start_date = settings.custom_text3_start_date | date: '%s' %}
              {% if custom_text3_start_date > now_date %}
                {% assign is_valid = false %}
              {% endif %}
            {% endif %}
            {% if settings.custom_text3_end_date != "" %}
              {% assign custom_text3_end_date = settings.custom_text3_end_date | date: '%s' %}
              {% if custom_text3_end_date < now_date %}
                {% assign is_valid = false %}
              {% endif %}
            {% endif %}
            {% if is_valid %}
              <div class="custom-text" {% if settings.custom_text3_color != blank %}style="color: {{settings.custom_text3_color}};"{% endif %}>
                {% if settings.custom_text3_modal != blank %}
                  <a href="#" class="open-usb-modal" data-trigger-id="custom-text3">
                {% elsif settings.custom_text3_url != blank %}
                  <a href="{{settings.custom_text3_url}}">
                {% endif %}
                  {{settings.custom_text3}}
                {% if settings.custom_text3_modal != blank %}
                  </a>
                {% elsif settings.custom_text3_url != blank %}
                  </a>
                {% endif %}
              </div>
            {% endif %}
          {% endif %}

          {% unless collection_handles contains 'coming-soon' %}
            {% include 'product-form' with 'product' %}
          {% endunless %}

          {% if section.settings.product_description_position == "bottom" %}
            {% if product.description != blank %}
             <div class="description bottom" itemprop="description">
              {{ product.description | split: '<!-- split -->' | first }}
             </div>
            {% endif %}
          {% endif %}

          {% if section.settings.review_position == "next_to_gallery" %}
            <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
              {% comment %}
              <!-- /snippets/bv-ratings-reviews.liquid -->
              <!-- Bazaarvoice Ratings & Reviews -->
              {% endcomment %}
              <div data-bv-show="reviews" data-bv-product-Id="{{product.id}}">
                {% if product.metafields.bazaarvoice.reviews %}
                {{ product.metafields.bazaarvoice.reviews }}
                {% endif %}
              </div>
              <div data-bv-show="questions" data-bv-product-Id="{{product.id}}">
                {% if product.metafields.bazaarvoice.questions %}
                {{ product.metafields.bazaarvoice.questions }}
                {% endif %}
              </div>
              {% comment %}
              <!-- End Bazaarvoice Ratings & Reviews -->
              {% endcomment %}

            </div>
          {% endif %}
          
          
          {% if section.settings.display_collections or section.settings.display_tags or section.settings.display_type %}
            <div class="product_links">
              {% if section.settings.display_collections %}
                <p>
                  <span class="label">{{ 'products.product.collections' | t }}:</span>
                  <span>
                   {% for col in product.collections %}
                     <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %}
                   {% endfor %}
                  </span>
                </p>
              {% endif %}

              {% if section.settings.display_type %}
                <p>
                  <span class="label">{{ 'products.product.product_types' | t }}:</span>
                  <span>{{ product.type | link_to_type }}</span>
                </p>
              {% endif %}

              {% if section.settings.display_tags %}
                <p>
                 {% for tag in product.tags %}
                   {% if forloop.first %}
                     <span class="label">{{ 'products.product.tags' | t }}:</span>
                   {% endif %}

                   {% unless tag contains 'meta-' %}
                     <span>
                       <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                       </span>
                   {% endunless %}
                 {% endfor %}
                </p>
              {% endif %}
            </div>
          {% endif %}

          
         {% comment %} 
          <div class="meta">
            {% if section.settings.display_social_buttons %}
              {% include "social-buttons" with "product" %}
            {% endif %}  
          </div>
        {% endcomment %}   
        </div>
      </div>
      {% if product.metafields.myovolt.hero_image_mobile != blank %}
      <div class="myovolt-hero">
        {% if product.metafields.myovolt.hero_image_mobile != blank  %}
        {{ product.metafields.myovolt.hero_image_desktop.value | image_url: width: 800 | image_tag: class: 'mobile-myovolt-hide', loading: "lazy" }}
        {{ product.metafields.myovolt.hero_image_mobile.value | image_url: width: 800 | image_tag: class: 'desktop-myovolt-hide', loading: "lazy" }}
        {% else %}
        {{ product.metafields.myovolt.hero_image_desktop.value | image_url: width: 800 | image_tag: loading: "lazy" }}
        {% endif %}
      </div>
     {% endif %}

     {% if product.metafields.myovolt.hero_description != blank %}
        <div class="myovolt-hero-description">{{ product.metafields.myovolt.hero_description }}</div>
     {% endif %}

     {% if product.metafields.myovolt.video.value != blank %}
        <div class="myovolt-video">{{ product.metafields.myovolt.video.value | video_tag: autoplay: true, loop: true, muted: true, controls: false  }}</div>
     {% endif %}

     <div class="myovolt-tech-specs">
        <h3>TECH SPECS</h3>
        <div class="myovolt-tech-specs-boxes">
        {% if product.metafields.myovolt.tech_spec_1 and product.metafields.myovolt.tech_spec_1_image %}
            <div>
                {{ product.metafields.myovolt.tech_spec_1_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                <h4>{{ product.metafields.myovolt.tech_spec_1 }}</h4>
            </div>
        {% endif %}

        {% if product.metafields.myovolt.tech_spec_2 and product.metafields.myovolt.tech_spec_2_image %}
            <div>
                {{ product.metafields.myovolt.tech_spec_2_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                <h4>{{ product.metafields.myovolt.tech_spec_2 }}</h4>
            </div>
        {% endif %}

        {% if product.metafields.myovolt.tech_spec_3 and product.metafields.myovolt.tech_spec_3_image %}
            <div>
                {{ product.metafields.myovolt.tech_spec_3_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                <h4>{{ product.metafields.myovolt.tech_spec_3 }}</h4>
            </div>
        {% endif %}

        {% if product.metafields.myovolt.tech_spec_4 and product.metafields.myovolt.tech_spec_4_image %}
            <div>
                {{ product.metafields.myovolt.tech_spec_4_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                <h4>{{ product.metafields.myovolt.tech_spec_4 }}</h4>
            </div>
        {% endif %}
        </div>
     </div>
      
      <div class="product_desc">
        {% if section.settings.product_description_position == "top" %}
        {% if product.description != blank %}
          <div class="description myovolt-product-description" itemprop="description">
            <div>{{ product.metafields.myovolt.description | metafield_tag }}</div>
            {% if product.metafields.custom.description_image.value %}<div>{{ product.metafields.custom.description_image  | image_url: height: 1500 | image_tag: loading: "lazy" }}</div>{% endif %}
          </div>
        {% endif %}
        {% endif %}
      </div>  

      <div class="myovolt-treatment-modes">
        {% if product.metafields.myovolt.treatment_modes_title %}<h3>{{ product.metafields.myovolt.treatment_modes_title }}</h3>{% endif %}
        {% if product.metafields.myovolt.treatment_modes_subtitle %}<p>{{ product.metafields.myovolt.treatment_modes_subtitle }}</p>{% endif %}

        <div class="myovolt-treatment">
            {% if product.metafields.myovolt.treatment_mode_1_image and product.metafields.myovolt.treatment_mode_1_description %}
                <div>
                    {{ product.metafields.myovolt.treatment_mode_1_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                    <div>{{ product.metafields.myovolt.treatment_mode_1_description | metafield_tag }}</div>
                </div>
            {% endif %}
            {% if product.metafields.myovolt.treatment_mode_2_image and product.metafields.myovolt.treatment_mode_2_description %}
                <div>
                    {{ product.metafields.myovolt.treatment_mode_2_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                    <div>{{ product.metafields.myovolt.treatment_mode_2_description | metafield_tag }}</div>
                </div>
            {% endif %}
            {% if product.metafields.myovolt.treatment_mode_3_image and product.metafields.myovolt.treatment_mode_3_description %}
                <div>
                    {{ product.metafields.myovolt.treatment_mode_3_image | image_url: width: 150, height: 150 | image_tag: loading: 'lazy' }}
                    <div>{{ product.metafields.myovolt.treatment_mode_3_description | metafield_tag }}</div>
                </div>
            {% endif %}
        </div>
      </div>

      <div class="myovolt-highlights">
        <div class="myovolt-highlight" style="background-image:url('{{ product.metafields.myovolt.highlight_1_image | image_url: height: 1080 }}')">
            <h3>{{ product.metafields.myovolt.highlight_1_title }}</h3>
            {{ product.metafields.myovolt.highlight_1_description | metafield_tag }}
        </div>
        <div class="myovolt-highlight" style="background-image:url('{{ product.metafields.myovolt.highlight_2_image | image_url: height: 1080 }}')">
            <h3>{{ product.metafields.myovolt.highlight_2_title }}</h3>
            {{ product.metafields.myovolt.highlight_2_description | metafield_tag }}
        </div>
      </div>

      <div class="myovolt-included">
        <div class="mobile-myovolt-hide"  style="background-image:url('{{ product.metafields.myovolt.included_image_desktop | image_url: height: 1300 }}')"></div>
        <div class="desktop-myovolt-hide"  style="background-image:url('{{ product.metafields.myovolt.included_image_mobile | image_url: height: 1300 }}')"></div>
        {% if product.metafields.myovolt.included_items != blank %}{{ product.metafields.myovolt.included_items | metafield_tag }}{% endif %}
      </div>
      
      

      {% if product.description contains "<!-- split -->"  %}
        <br class="clear" />
        <div class="section clearfix">
          <div class="description">
            {{ product.description | split: '<!-- split -->' | last }}
          </div>
        </div>
      {% endif %}

      
    </div>

    {% if sidebar %}

            {% if section.settings.display_related_products %}
              {% include 'include-related-products' %}
            {% endif %}
            {% if section.settings.display_recently_viewed %}
              {% include 'include-recently-viewed' %}
            {% endif %}

          </div>
        </div>
      </div>

    {% else %}

          </div>
        </div>
      </div>

      {% if section.settings.display_related_products %}
        {% include 'include-related-products' %}
      {% endif %}
      {% if section.settings.display_recently_viewed %}
        {% include 'include-recently-viewed' %}
      {% endif %}

    {% endif %}

      {% if section.settings.review_position == "below_gallery" %}
      <div class="container">
        <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
          {% comment %}
          <!-- /snippets/bv-ratings-reviews.liquid -->
          <!-- Bazaarvoice Ratings & Reviews -->
          {% endcomment %}
          <div data-bv-show="reviews" data-bv-product-Id="{{product.id}}">
            {% if product.metafields.bazaarvoice.reviews %}
            {{ product.metafields.bazaarvoice.reviews }}
            {% endif %}
          </div>
          <div data-bv-show="questions" data-bv-product-Id="{{product.id}}">
            {% if product.metafields.bazaarvoice.questions %}
            {{ product.metafields.bazaarvoice.questions }}
            {% endif %}
          </div>
          {% comment %}
          <!-- End Bazaarvoice Ratings & Reviews -->
          {% endcomment %}
        </div>   
      </div>
      {% endif %}

<a href="#" class="mobile-fixed-add-to-cart">ADD TO CART <span class="mobile-fixed-price">{{ product.selected_or_first_available_variant.price | money }}</span></a> 

<script>
  document.querySelectorAll('.product_desc .title').forEach(descriptionTitle => {
    descriptionTitle.addEventListener('click', function(e) {
      e.preventDefault();
      e.target.closest('.product_desc').classList.toggle('extended');
    })
  })

  if(window.innerWidth <= 798) {
    document.querySelectorAll('.product_desc:not(.product_features):not(.product_description)').forEach(element => {
      element.classList.remove('extended');
    })
  }
  
</script>

{% schema %}

{
  "name": "Product",
  "class": "product-template",
  "settings": [
    {
      "type": "header",
      "content": "Product gallery"
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows on product gallery",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover"
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable product gallery popup",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_autoplay",
      "label": "Enable product gallery slideshow"
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Gallery transition",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "slide"
    },
    {
      "type": "radio",
      "id": "product_images_position",
      "label": "Gallery position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show product gallery thumbnails",
      "default": true
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnail position",
      "default": "bottom-slider",
      "options": [
        {
          "value": "bottom-thumbnails",
          "label": "Bottom (grid)"
        },
        {
          "value": "bottom-slider",
          "label": "Bottom (slider)"
        },
        {
          "value": "left-thumbnails",
          "label": "Left"
        },
        {
          "value": "right-thumbnails",
          "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product info"
    },
    {
      "type": "checkbox",
      "id": "product_breadcrumb",
      "label": "Show breadcrumb links"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor"
    },
    {
      "type": "checkbox",
      "id": "display_sku",
      "label": "Show SKU"
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https:\/\/help.shopify.com\/manual\/using-themes\/change-the-layout\/dynamic-checkout)"
    },
    {
      "type": "checkbox",
      "id": "display_collections",
      "label": "Show collections"
    },
    {
      "type": "checkbox",
      "id": "display_type",
      "label": "Show type"
    },
    {
      "type": "checkbox",
      "id": "display_tags",
      "label": "Show tags"
    },
    {
      "type": "checkbox",
      "id": "display_social_buttons",
      "label": "Show social media share icons",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product reviews"
    },
    {
      "type": "paragraph",
      "content": "Reviews app must be enabled [(?)](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)"
    },
    {
      "type": "checkbox",
      "id": "enable_shopify_product_badges",
      "label": "Display star rating on product",
      "default": false
    },
    {
      "type": "radio",
      "id": "review_position",
      "label": "Reviews position",
      "default": "next_to_gallery",
      "options": [
        {
          "value": "next_to_gallery",
          "label": "In product description area"
        },
        {
          "value": "below_gallery",
          "label": "Below image\/description"
        }
      ]
    },
    {
      "type": "header",
      "content": "Related products"
    },
    {
      "type": "checkbox",
      "id": "display_related_products",
      "label": "Show related products ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115006909487-Related-Products))",
      "default": true
    },
    {
      "type": "radio",
      "id": "related_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "related_products_limit",
      "label": "Limit products",
      "min": 3,
      "max": 50,
      "step": 1,
      "default": 12
    },
    {
      "type": "range",
      "id": "products_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 3
    },
    {
      "type": "header",
      "content": "Recently viewed products"
    },
    {
      "type": "paragraph",
      "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
    },
    {
      "type": "checkbox",
      "id": "display_recently_viewed",
      "label": "Show recently viewed products",
      "default": false
    },
    {
      "type": "text",
      "id": "rv_title",
      "label": "Title",
      "default": "Recently Viewed Items"
    },
    {
      "type": "radio",
      "id": "rv_products_style",
      "label": "Layout",
      "default": "grid",
      "options": [
        {
          "value": "slider",
          "label": "Slider"
        },
        {
          "value": "grid",
          "label": "Grid"
        }
      ]
    },
    {
      "type": "range",
      "id": "rv_max_display",
      "label": "Products limit",
      "min": 3,
      "max": 12,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "rv_per",
      "label": "Products per row",
      "min": 3,
      "max": 5,
      "step": 1,
      "default": 4
    },
    {
      "type": "header",
      "content": "Sidebar"
    },
    {
      "type": "paragraph",
      "content": "Create a sidebar by adding content blocks."
    },
    {
      "type": "checkbox",
      "id": "toggle",
      "label": "Toggle sidebar content",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "filter_by_collection",
      "name": "Collection list",
      "limit": 1
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "custom_menu_linklist",
          "label": "Menu"
        }
      ]
    },
    {
      "type": "page",
      "name": "Page",
      "settings": [
        {
          "type": "page",
          "id": "content_page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "recently_viewed",
      "name": "Recently viewed products",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To test the recently viewed products, view your online store outside of the Editor and visit multiple product pages ([?](https:\/\/help.outofthesandbox.com\/hc\/en-us\/articles\/115008765228))"
        },
        {
          "type": "text",
          "id": "sidebar_rv_title",
          "label": "Title",
          "default": "Recently Viewed"
        },
        {
          "type": "range",
          "id": "sidebar_rv_per",
          "label": "Products limit",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3
        }
      ]
    },
    {
      "type": "filter_by_tag",
      "name": "Tag list",
      "limit": 1
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Text area can be used for special announcements or general information.</p>"
        }
      ]
    },
    {
      "type": "filter_by_type",
      "name": "Type list",
      "limit": 1
    },
    {
      "type": "filter_by_vendor",
      "name": "Vendor list",
      "limit": 1
    }
  ],
  "default": {
    "settings": {

    }
  }
}

{% endschema %}
